<a href="https://colab.research.google.com/github/py241035332/CEE2/blob/Aula-27%2F11%2F24/aulas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdu√ß√£o ao Python üêç

A linguagem **Python** √© uma linguagem (de):


*   **alto n√≠vel** - a linguagem √© independente de plataforma (sistema operacional, processador, etc) e os comandos executam tarefas complexas;
* **interpretada** - o c√≥digo √© executado linha a linha por um interpretador (partes do c√≥digo s√£o compiladas para *bytecode*).
* **uso geral** - √© uma linguagem √∫til para desenvolver qualquer tipo de c√≥digo, n√£o somente para realizar an√°lises de dados.
* **din√¢micamente tipada** - n√£o √© necess√°rio declarar os tipos das vari√°veis; os tipos das vari√°veis podem mudar ao longo do c√≥digo.
* utiliza **coletores de lixo** (*garbage collector*) para gerenciar mem√≥ria, retirando do programador esta preocupa√ß√£o.
* Permite diversos paradigmas de programa√ß√£o, dentre os quais **programa√ß√£o estruturada** e a **programa√ß√£o orientada a objetos**.

## Disponibilidade

A linguagem Python est√° dispon√≠vel em https://www.python.org/downloads para as principais plataformas:

* **Windows**: vers√µes instal√°vel e embarc√°vel para as plataformas i32, i64 e ARM64;

* **MacOS**: vers√£o instal√°vel para 64 bits universal.

* **Linux**: j√° instalado nas principais distribui√ß√µes.

## Ambientes de desenvolvimento

Existe uma grande variedade de plataformas e IDE's (*Integrated Development Environment* - Ambiente Integrado de Desenvolvimento) para trabalhar com Python. Algumas das principais op√ß√µes s√£o:

* **Anaconda**: Plataforma para Python que facilita o gerenciamento de pacotes e ambientes. Inclui ferramentas como Jupyter Notebook e Conda, um gerenciador de pacotes. Ideal para ci√™ncia de dados e computa√ß√£o cient√≠fica. [Saiba mais](https://www.anaconda.com).

* **PyCharm**: IDE com recursos avan√ßados como autocompletar c√≥digo, depura√ß√£o e integra√ß√£o com controle de vers√£o. √â eficiente para desenvolvimento em Python e suporte a frameworks. [Saiba mais](https://www.jetbrains.com/pycharm).

* **VSCode**: Editor de c√≥digo-fonte leve e extens√≠vel, desenvolvido pela Microsoft. Suporta m√∫ltiplas linguagens e oferece autocompletar c√≥digo, depura√ß√£o e uma vasta gama de extens√µes. [Saiba mais](https://code.visualstudio.com).

* **Jupyter Notebook**: Aplica√ß√£o web para criar e compartilhar documentos com c√≥digo execut√°vel, visualiza√ß√µes e texto. Popular em an√°lise de dados e aprendizado de m√°quina, oferece uma interface interativa para experimenta√ß√£o e apresenta√ß√£o. [Saiba mais](https://jupyter.org).

* **Google Colab**: Plataforma online para criar e executar notebooks Jupyter no navegador, com suporte a GPUs e TPUs. Facilita a colabora√ß√£o e o compartilhamento em tempo real, sem necessidade de configura√ß√£o local. [Saiba mais](https://colab.research.google.com).


Escolha o que melhor se adapta ao seu estilo e gosto. No curso, vamos utilizar o **Google Colab**.

## Para dar sorte

√â tradi√ß√£o quando se aprende uma nova linguagem de programa√ß√£o construir o programa que escreve [Hello World](https://en.wikipedia.org/wiki/%22Hello,_World!%22_program) no terminal. Esta tradi√ß√£o foi iniciada em 1974 de um resumo do livro *Programming in C: a tutorial* de [Brian Kernighan](https://en.wikipedia.org/wiki/Brian_Kernighan). Desde ent√£o sempre que se aprende uma nova linguagem de programa√ß√£o costuma-se fazer o famoso *Hello World!*. Em Python basta escrever:

In [ ]:
print("Hello World!")

## Sintaxe

As estruturas de c√≥digo s√£o identificadas por identa√ß√£o (geralmente 4 espa√ßos):

Ao contr√°rio de linguagens como C e Java que utilizam delimitadores (`{}`) e linguagens como o Pascal que utilizam `begin` e `end`.

Por um lado isto simplifica a programa√ß√£o (pois n√£o precisa se preocupar com os delimitadores), por outro lado, em c√≥digos muito grandes, pode dificultar a leitura.

O c√≥digo abaixo ilustra este conceito.

In [ ]:
# Coment√°rios s√£o iniciados com '#'
# Esta linha ser√° ignorada.
print("Ol√°, Mundo!")

# As estruturas de c√≥digo s√£o identificadas por identa√ß√£o:
if 5 > 2:
  print("5 √© maior que 2.")   # Este comando est√° dentro do IF.

# As vari√°veis s√£o criadas atribuindo-se valores √† elas:
x = 5
nome = "Python"

print(x)
print(nome)

## Exerc√≠cio 1:
Crie um c√≥digo que escreva "Ol√°, seu primeiro nome".

# Tipos de dados

## Vari√°veis num√©ricas


A linguagem **Python** permite o uso de vari√°veis num√©ricas inteiras (*int*), de ponto flutuante (*float*) e complexas (*complex*):

In [ ]:
# N√∫meros inteiros
x = 20             # Inteiro com valor 20
y = int(1024)      # Inteiro com valor 1024
z = int('1234')    # Inteiro com valor 1234

print(x)    # Exibe 20
print(y)    # Exibe 1024
print(z)    # Exibe 1234

print(type(x))    # Exibe "<class 'int'> indicando que √© inteiro.
print(type(y))    # Exibe "<class 'int'> indicando que √© inteiro.
print(type(z))    # Exibe "<class 'int'> indicando que √© inteiro.

In [ ]:
# N√∫meros de ponto flutuante
x = 20.5               # Ponto flutuante com valor 20.5
y = float(3.1415)      # Ponto flutuante com valor 3.1415
z = float('1.2345')    # Ponto flutuante com valor 1.2345

print(x)    # Exibe 20.5
print(y)    # Exibe 3.1415
print(z)    # Exibe 1.2345

print(type(x))    # Exibe "<class 'float'> indicando que √© ponto flutuante.
print(type(y))    # Exibe "<class 'float'> indicando que √© ponto flutuante.
print(type(z))    # Exibe "<class 'float'> indicando que √© ponto flutuante.

In [ ]:
# N√∫meros complexos
x = 1j                   # N√∫mero complexo 0.0 + 1.0i
y = complex(2 + 3j)      # N√∫mero complexo 2.0 + 3.0i
z = complex('1.2+3.4j')  # N√∫mero complexo 1.2 + 3.4i (sem espa√ßos!)

print(x)    # Exibe 1j
print(y)    # Exibe (2+3j)
print(z)    # Exibe (1.2+3.4j)

print(type(x))    # Exibe "<class 'complex'> indicando que √© complexo.
print(type(y))    # Exibe "<class 'complex'> indicando que √© complexo.
print(type(z))    # Exibe "<class 'complex'> indicando que √© complexo.

## Vari√°veis do tipo texto (string)

A linguagem Python tamb√©m permite o uso de vari√°veis do tipo texto (string):

In [ ]:
x = "Hello World!"    # String "Hello World!"
y = str(20)           # String "20"
z = str(3.1415)       # String "3.1415"

print(x)    # Exibe "Hello World!"
print(y)    # Exibe "20"
print(z)    # Exibe "3.1415"

print(type(x))    # Exibe "<class 'str'> indicando que √© string.
print(type(y))    # Exibe "<class 'str'> indicando que √© string.
print(type(z))    # Exibe "<class 'str'> indicando que √© string.

## Vari√°veis do tipo l√≥gico (booleano)

A linguagem Python tamb√©m permite o uso de vari√°veis do tipo l√≥gica (booleana):

In [ ]:
x = False      # Booleano com valor False
y = bool(1)    # Booleano com valor True
z = (3 > 5)    # Booleano com valor False

print(x)    # Exibe False
print(y)    # Exibe True
print(z)    # Exibe False

print(type(x))    # Exibe "<class 'bool'> indicando que √© booleano.
print(type(y))    # Exibe "<class 'bool'> indicando que √© booleano.
print(type(z))    # Exibe "<class 'bool'> indicando que √© booleano.

## Importante

* Textos (*strings*) que representam n√∫meros n√£o podem ser utilizados em c√°lculos, a menos que sejam convertidos com `int()` ou `float()`.

* Na convers√£o de n√∫meros para booleano, o valor n√∫merico `0` √© convertido para `False` e todos os demais valores para `True`.

## Exerc√≠cio 1: Convertendo entre int e float

Crie tr√™s vari√°veis: uma do tipo `int`, uma do tipo `float` e uma do tipo `bool`. Exiba os valores de cada uma dessas vari√°veis e o tipo delas. Em seguida, converta as vari√°veis de acordo com as instru√ß√µes abaixo:

* Converta o n√∫mero inteiro para float e exiba o resultado.
* Converta o n√∫mero decimal (float) para int e exiba o resultado.
* Tente converter o valor booleano para int e float, e observe os resultados.

## Exerc√≠cio 2: Opera√ß√µes b√°sicas com int e float

Crie duas vari√°veis: uma contendo um n√∫mero inteiro igual a 5 (`num1 = 5`) e outra contendo um n√∫mero decimal float igual a 2.5 (`num2 = 2.5`). Em seguida, execute as seguintes opera√ß√µes e printe o resultado:

* Adi√ß√£o  (`num1 + num2`)
* Subtra√ß√£o (`num1 - num2`)
* Multiplica√ß√£o (`num1 * num2`)
* Divis√£o (`num1 / num2`)

## Exerc√≠cio 3: Calculando a √°rea de um c√≠rculo

Crie um programa que calcule a √°rea de um c√≠rculo, dada a f√≥rmula: $A = \pi * r^2$. Atribua um valor para o raio (como float) e mostre o resultado da √°rea. Utilize œÄ = 3.14159.

* O resultado deve ser apresentado como "A √°rea do c√≠rculo √©: {area}"

# Opera√ß√µes Matem√°ticas


Python √© uma linguagem muito utilizada para realizar opera√ß√µes matem√°ticas, seja para c√°lculos simples ou mais avan√ßados. Neste tutorial, vamos aprender sobre as opera√ß√µes matem√°ticas b√°sicas em Python, como soma, subtra√ß√£o, multiplica√ß√£o, divis√£o, al√©m de algumas fun√ß√µes matem√°ticas √∫teis.

##  Operadores Matem√°ticos B√°sicos

| Operador | Descri√ß√£o                 | Exemplo           |
|----------|---------------------------|-------------------|
| `+`      | Adi√ß√£o                    | `2 + 3 = 5`       |
| `-`      | Subtra√ß√£o                 | `5 - 2 = 3`       |
| `*`      | Multiplica√ß√£o             | `2 * 3 = 6`       |
| `/`      | Divis√£o                   | `6 / 2 = 3.0`     |
| `//`     | Divis√£o inteira           | `7 // 2 = 3`      |
| `%`      | M√≥dulo (resto da divis√£o) | `7 % 2 = 1`       |
| `**`     | Exponencia√ß√£o             | `2 ** 3 = 8`      |

\\
**Exemplo:**

In [ ]:
x = 10

# Atualizando o valor de x
x += 5  # Agora x √© 15
print(x)

x *= 2  # Agora x √© 30
print(x)

x -= 7  # Agora x √© 23
print(x)

## Fun√ß√µes Matem√°ticas com math

O Python possui um m√≥dulo chamado `math` que cont√©m v√°rias fun√ß√µes matem√°ticas √∫teis, veja mais detalhes em [doc.math](https://docs.python.org/pt-br/3/library/math.html). Para utiliz√°-las, √© necess√°rio importar o m√≥dulo.

**Exemplo:**

In [ ]:
import math

# Raiz quadrada
print(math.sqrt(16))  # 4.0

# Pot√™ncia (equivalente a **)
print(math.pow(2, 3))  # 8.0

# Exponencial (equivalente e^x)
print(math.exp(1))

# Logaritmo
## math.log(x) = logaritmo natural de x
print(math.log(10))

## ## math.log(x, b) = logaritmo x na base b
print(math.log(10, 10))

# Fatorial
print(math.factorial(5))  # 120

# Valor absoluto
print(abs(-10))  # 10

# Arredondamento para baixo (floor)
print(math.floor(2.9))  # 2

# Arredondamento para cima (ceil)
print(math.ceil(2.1))  # 3

## Atualizando Vari√°veis com Operadores Atribui√ß√£o

Al√©m de usar operadores matem√°ticos b√°sicos, voc√™ pode usar operadores de atribui√ß√£o para atualizar o valor de uma vari√°vel diretamente.

| Operador | Exemplo  | Equivalente      |
|----------|----------|------------------|
| `+=`     | `x += 3` | `x = x + 3`      |
| `-=`     | `x -= 3` | `x = x - 3`      |
| `*=`     | `x *= 3` | `x = x * 3`      |
| `/=`     | `x /= 3` | `x = x / 3`      |
| `//=`    | `x //= 3`| `x = x // 3`     |
| `%=`     | `x %= 3` | `x = x % 3`      |
| `**=`    | `x **= 3`| `x = x ** 3`     |

\\
**Exemplo:**

In [ ]:
x = 10

# Atualizando o valor de x
x += 5  # Agora x √© 15
print(x)

x *= 2  # Agora x √© 30
print(x)

x -= 7  # Agora x √© 23
print(x)

## Resumo das fun√ß√µes b√°sicas do Python

### 1. **`int()`**
   - **Descri√ß√£o**: Converte um valor para inteiro (removendo a parte decimal se for um n√∫mero de ponto flutuante).
   - **Exemplo**:
     ```python
     int(5.8)  # Retorna 5
     int('123')  # Retorna 123
     ```

### 2. **`float()`**
   - **Descri√ß√£o**: Converte um valor para um n√∫mero de ponto flutuante (decimal).
   - **Exemplo**:
     ```python
     float(10)  # Retorna 10.0
     float('3.14')  # Retorna 3.14
     ```

### 3. **`round()`**
   - **Descri√ß√£o**: Arredonda um n√∫mero de ponto flutuante para o inteiro mais pr√≥ximo ou para um n√∫mero de casas decimais especificado.
   - **Exemplo**:
     ```python
     round(3.14159, 2)  # Retorna 3.14
     round(5.7)  # Retorna 6
     ```

### 4. **`abs()`**
   - **Descri√ß√£o**: Retorna o valor absoluto de um n√∫mero (sem sinal).
   - **Exemplo**:
     ```python
     abs(-10)  # Retorna 10
     abs(3.5)  # Retorna 3.5
     ```

### 5. **`pow()`**
   - **Descri√ß√£o**: Calcula a exponencia√ß√£o de um n√∫mero, equivalente a `x ** y`.
   - **Exemplo**:
     ```python
     pow(2, 3)  # Retorna 8 (2^3)
     pow(9, 0.5)  # Retorna 3.0 (raiz quadrada de 9)
     ```

### 6. **`min()`**
   - **Descri√ß√£o**: Retorna o menor valor de uma sequ√™ncia ou entre os argumentos fornecidos.
   - **Exemplo**:
     ```python
     min(3, 1, 5)  # Retorna 1
     min([10, 20, -5, 4])  # Retorna -5
     ```

### 7. **`max()`**
   - **Descri√ß√£o**: Retorna o maior valor de uma sequ√™ncia ou entre os argumentos fornecidos.
   - **Exemplo**:
     ```python
     max(3, 1, 5)  # Retorna 5
     max([10, 20, -5, 4])  # Retorna 20
     ```

### 8. **`sum()`**
   - **Descri√ß√£o**: Soma todos os elementos de uma sequ√™ncia (como uma lista ou tupla).
   - **Exemplo**:
     ```python
     sum([1, 2, 3, 4])  # Retorna 10
     sum((5, 10, 15))  # Retorna 30
     ```

### 9. **`divmod()`**
   - **Descri√ß√£o**: Retorna o quociente e o resto da divis√£o como uma tupla `(q, r)`.
   - **Exemplo**:
     ```python
     divmod(10, 3)  # Retorna (3, 1)
     ```

### 10. **`complex()`**
   - **Descri√ß√£o**: Cria um n√∫mero complexo com a parte real e imagin√°ria.
   - **Exemplo**:
     ```python
     complex(2, 3)  # Retorna (2+3j)
     ```

### 11. **`bin()`**
   - **Descri√ß√£o**: Converte um n√∫mero inteiro para sua representa√ß√£o bin√°ria.
   - **Exemplo**:
     ```python
     bin(10)  # Retorna '0b1010'
     ```

### 12. **`bool()`**
   - **Descri√ß√£o**: Converte um valor para `True` ou `False`, baseado na sua "verdade". N√∫meros zero e valores vazios s√£o `False`, enquanto os demais s√£o `True`.
   - **Exemplo**:
     ```python
     bool(0)  # Retorna False
     bool(5)  # Retorna True
     bool('')  # Retorna False
     ```

## Exemplo: C√°lculo de √Årea e Per√≠metro

Escreva um programa que receba o raio de um c√≠rculo e calcule a √°rea e o per√≠metro. Lembrando as equa√ß√µes s√£o
$$
Area = \pi \, r^2
\\
Perimetro = 2 \pi \, r
$$

Utilize a constante `math.pi` para o valor de $\pi$.

In [ ]:
# Solu√ß√£o
import math

raio = float(input("Digite o raio do c√≠rculo: "))

area = math.pi * (raio ** 2)
perimetro = 2 * math.pi * raio

print(f"√Årea: {area:.2f}")
print(f"Per√≠metro: {perimetro:.2f}")

## Exerc√≠cio 1: Conversor de Temperatura

Crie um programa que converta uma temperatura de graus Celsius para Fahrenheit.

A f√≥rmula de convers√£o √©:
$$
Fahrenheit = Celsius \times \frac{9}{5} + 32
$$

Obs: para receber a temperatura em Celsius do usu√°rio, utilize o comando:

 * `celsius = float(input("Digite a temperatura em Celsius: "))`

## Exerc√≠cio 2: Calculadora de IMC

Crie um programa que recebe calcula o √çndice de Massa Corporal (IMC). Para isto voc√™ deve receber do usu√°rio o peso e a altura.

A f√≥rmula do IMC √© dada por:
$$
IMC = peso / altura^2,
$$
em que peso √© dado em kg e a altura em metros.

Obs: utilize os seguintes comandos para ser o peso e a altura:
* `peso = float(input("Digite o peso em quilogramas: "))`
* `altura = float(input("Digite a altura em metros: "))`

# Cole√ß√µes

## Listas

As listas s√£o usadas quando voc√™ precisa de uma estrutura de dados ordenada e mut√°vel. Elas s√£o a estrutura mais flex√≠vel, permitindo altera√ß√µes em seus elementos, como adicionar, remover ou modificar valores.

As **listas** (`list`) s√£o cole√ß√µes:

* **ordenadas** -- os elementos mant√©m a ordem de inclus√£o.

* **elementos podem ser alterados** -- o valor dos elementos podem ter seus valores alterados.

* **permite duplica√ß√£o dos elementos** -- os elementos podem ter valores repetidos.

Os m√©todos definidos na classe `list` s√£o:

* `append()`: Adiciona um elemento no final da lista.
* `clear()`: Remove todos os elementos da lista.
* `copy()`: Retorna uma c√≥pia da lista.
* `count()`: Retorna o n√∫mero de elementos com o valor especificado.
* `extend()`: Adiciona os elementos de um conjunto de dados ao final da lista.
* `index()`: Retorna o √≠ndice do primeiro elemento com o valor especificado.
* `insert()`: Adiciona um elemento na posi√ß√£o especificada.
* `pop()`: Remove e retorna o elemento na posi√ß√£o especificada.
* `remove():` Remove o primeiro elemento com o valor especificado.
* `reverse()`: Inverte a ordem da lista.
* `sort()`: Ordena a lista.

As listas s√£o criadas usando `[]` ou `list()`. Veja os exemplos abaixo.

In [ ]:
v1 = ["Fortran", "Python", "R", "Python"]
v2 = list(("Fortran", "Python", "R", "Python"))

print(v1)    # Exibe a lista v1.
print(v2)    # Exibe a lista v2.

print(type(v1))    # Exibe "<class 'list'> indicando que √© lista.
print(type(v2))    # Exibe "<class 'list'> indicando que √© lista.

In [ ]:
v = ["Fortran", "Python", "R", "Python"]

## acessando posi√ß√µes de um lista
print(v[0])    # Exibe 'Fortran'
print(v[1])    # Exibe 'Python'
print(v[2])    # Exibe 'R'
print(v[3])    # Exibe 'Python'

## print(v[4])) # gera um erro pois essa posi√ß√£o n√£o existe na lista v

In [ ]:
v = ["Fortran", "Python", "R", "Python"]

## acessando posi√ß√µes de um lista
print(v[-1])    # Exibe 'Python'
print(v[-2])    # Exibe 'R'
print(v[-3])    # Exibe 'Python'
print(v[-4])    # Exibe 'Fortran'

## print(v[-5])) # gera um erro pois essa posi√ß√£o n√£o existe na lista

In [ ]:
v = ["Fortran", "Python", "R", "Python"]

print(v)     # exibe a lista original

v[1] = "C++" # altera o segundo elemento da lista

print(v)     # exibe a lista alterada

In [ ]:
v1 = ["Cobol", "Fortran", "Python"]
v2 = ["A", "B", "C", "D"]

print(v1[0]) # Exibe 'Cobol'
print(v2[1]) # Exibe 'B'

print("------")

v1.append("R")               # v1 = ['Cobol', 'Fortran', 'Python', 'R']
v2.clear()                   # v2 = []
v3 = v1.copy()               # v3 = ['Cobol', 'Fortran', 'Python', 'R']
print( v1.count("R") )       # => 1  ('R' aparece 1 vez)
print("------")
v1.extend(["Java", "C"])     # v1 = ['Cobol', 'Fortran', 'Python', 'R', 'Java', 'C']
print(v1.index("Python"))    # => 2 ('Python' est√° na posi√ß√£o 2)
print("------")
v1.insert(1, "C#")           # v1 = ['Cobol', 'C#', 'Fortran', 'Python', 'R', 'Java', 'C']
print(v1.pop(1))             # v1 = ['Cobol', 'Fortran', 'Python', 'R', 'Java', 'C'] => 'C#'
print("------")
v1.remove("Fortran")         # v1 = ['Cobol', 'Python', 'R', 'Java', 'C']
v1.reverse()                 # v1 = ['C', 'Java', 'R', 'Python', 'Cobol']
v1.sort()                    # v1 = ['C', 'Cobol', 'Java', 'Python', 'R']

print("v1 = ", v1)           # Exibe v1 = ['C', 'Cobol', 'Java', 'Python', 'R']
print("v2 = ", v2)           # Exibe v2 = []
print("v3 = ", v3)           # Exibe v3 = ['Cobol', 'Fortran', 'Python', 'R']

**Pilhas utilizando `list`**

Os m√©todos de lista tornam muito f√°cil usar uma lista como uma **pilha**, onde o √∫ltimo elemento adicionado √© o primeiro elemento recuperado (‚Äú√∫ltimo a entrar, primeiro a sair‚Äù). Para adicionar um item ao topo da pilha, use `append()`. Para recuperar um item do topo da pilha, use `pop()` sem um √≠ndice expl√≠cito. Por exemplo:

In [ ]:
pilha = []            ## inicializa uma lista vazia
pilha.append(3)       ## atualiza para [3]
pilha.append(4)       ## atualiza para [3, 4]
pilha.append(5)       ## atualiza para [3, 4, 5]
pilha.append(6)       ## atualiza para [3, 4, 5, 6]
pilha.append(7)       ## atualiza para [3, 4, 5, 6, 7]
print( pilha )        ## printa [3, 4, 5, 6, 7]

pilha.pop()           ## remove o 7
pilha.pop()           ## remove o 6
print( pilha )        ## printa [3, 4, 5]

pilha.pop()           ## remove o 5
pilha.pop()           ## remove o 4
pilha.pop()           ## remove o 3
print( pilha )        ## printa []

### Exerc√≠cio 1: Modificando uma lista

Dada a lista `frutas = ["ma√ß√£", "banana", "laranja", "uva"]`, fa√ßa o seguinte:

* Substitua a fruta "banana" por "abacaxi".
* Adicione a fruta "morango" ao final da lista.
* Exiba a lista resultante.
* Coloque a lista em ordem alfab√©tica.
* Substitua a fruta "ma√ß√£" por "pera".
* Exiba a lista e verifique se ainda esta ordenada. Caso n√£o esteja, ent√£o ordene e exiba novamente.

## Tuplas

**Tuplas** (`tuple`) s√£o similares √†s listas, mas com a diferen√ßa de serem imut√°veis, ou seja, seus valores n√£o podem ser alterados ap√≥s a cria√ß√£o. Temos ent√£o as seguintes propriedades para a classe `tuble`:

* **ordenadas** -- os elementos mant√©m a ordem de inclus√£o.

* **elementos n√£o podem ser alterados** -- o valor dos elementos n√£o podem ter seus valores alterados.

* **permite duplica√ß√£o dos elementos** -- os elementos podem ter valores repetidos.

Os m√©todos definidos na classe **tupla** s√£o:

* `count()`: Retorna o n√∫mero de elementos com o valor especificado.
* `index()`: Retorna o √≠ndice do primeiro elemento com o valor especificado.

As **tuplas** s√£o criadas usando apenas virgulas ou `()` ou `tuple()`:

In [ ]:
v0 = "Fortran", "Python", "R", "Python"
v1 = ("Fortran", "Python", "R", "Python")
v2 = tuple(("Fortran", "Python", "R", "Python"))

print(v0)    # Exibe a tupla v0.
print(v1)    # Exibe a tupla v1.
print(v2)    # Exibe a tupla v2.

print(type(v0))    # Exibe "<class 'tuple'> indicando que √© tupla.
print(type(v1))    # Exibe "<class 'tuple'> indicando que √© tupla.
print(type(v2))    # Exibe "<class 'tuple'> indicando que √© tupla.

Os elementos de uma **tupla** podem ser *desempacotados* em um conjunto de vari√°veis:

In [ ]:
frutas = ("ma√ß√£", "banana", "cereja")
(verde, amarelo, vermelho) = frutas

print(verde)       # Exibe 'ma√ß√£'
print(amarelo)     # Exibe 'banana'
print(vermelho)    # Exibe 'cereja'

Se existem m√∫ltiplos elementos, os elementos finais da **tupla** podem ser atribu√≠dos √† uma lista:

In [ ]:
frutas = ("ma√ß√£", "banana", "cereja", "morango", "framboesa")
(verde, amarelo, *vermelho) = frutas

print(verde)
print(amarelo)
print(vermelho)

In [ ]:
v = ("Cobol", "Fortran", "Python", "Python", "Python")

print(v[0])    # Exibe 'Cobol'
print(v[1])    # Exibe 'Fortran
print(v[-1])   # Exibe 'Python'
print(v[1:4])  # Exibe ('Fortran', 'Python', 'Python')

print(v.count("Python"))    # Exibe 3 ('Python' ocorre 3 vezes)
print(v.index("Python"))    # Exibe 2 (a primeira ocorr√™ncia de 'Python' est√° na posi√ß√£o 2)

### Exerc√≠cio 2: Buscando um elemento em uma tupla

Dada a tupla `frutas = ("ma√ß√£", "banana", "laranja", "uva")`, encontre e exiba o √≠ndice da fruta "laranja".

## Conjuntos

Os **conjuntos** (`set`) s√£o cole√ß√µes desordenadas de itens √∫nicos, o que significa que eles n√£o mant√™m uma ordem espec√≠fica e n√£o permitem elementos duplicados. Temos ent√£o as seguintes propriedades para a classe `set`:

* **n√£o ordenadas** -- os elementos mant√©m uma ordem aleat√≥ria.

* **elementos n√£o podem ser alterados** -- o valor dos elementos n√£o podem ter seus valores alterados, embora possam ser inclu√≠dos ou exclu√≠dos do conjunto.

* **n√£o permite duplica√ß√£o dos elementos** -- os elementos n√£o podem ter valores repetidos; s√£o inclu√≠dos uma √∫nica vez.

Os principais m√©todos definidos na classe `set` s√£o:

* `add()`: adiciona um elemento ao conjunto.
* `clear()`: remove todos os elementos do conjunto.
* `copy()`: retorna uma c√≥pia do conjunto.
* `difference()`: retorna um conjunto contendo a diferen√ßa entre dois ou mais conjuntos.
* `discard()`: Remove um item especificado.
* `intersection()`: retorna um conjunto com aintersec√ß√£o entre dois conjuntos.
* `isdisjoint()`: verifica se os conjuntos s√£o disjuntos.
* `issubset()`: verifica se o conjunto est√° contido em outro conjunto.
* `issuperset()`: verifica se o conjunto cont√©m outro conjunto.
* `remove()`: remove o elemento especificado.
* `union()`: Retorna um conjunto com a uni√£o entre conjuntos.
* `update()`: Atualiza o conjunto acrescentando outros conjuntos.

Os **conjuntos** s√£o criados usando `{}` ou `set()`:

In [ ]:
v1 = {"Fortran", "Python", "R", "Python"}
v2 = set(("Fortran", "Python", "R", "Python"))

print(v1)    # Exibe o conjunto v1.
print(v2)    # Exibe o conjunto v2.

print(type(v1))    # Exibe "<class 'set'> indicando que √© conjunto.
print(type(v2))    # Exibe "<class 'set'> indicando que √© conjunto.

Elementos repetidos em um conjunto s√£o ignorados:

In [ ]:
v = {1, 2, 3, 3, 4, 5}
print(v)

In [ ]:
s1 = {"A", "B", "C", "D", "E"}
s2 = {"A", "B", "C"}
s3 = {"X", "Y", "Z"}

s3.add("W")                           # s3 = {'X', 'W', 'Y', 'Z'}
print("s3: ", s3)                     # exibe: s3:  {'W', 'X', 'Y', 'Z'}
s3.clear()                            # s3 = {}
print("s3: ", s3)                     # exibe: s3:  set()

s3 = s2.copy()                        # s3 = {'A', 'B', 'C'}
print("s3: ", s3)                     # exibe: s3:  {'A', 'B', 'C'}

s3 = s1.difference(s2)                # s3 = {'D', 'E'}
print("s3: ", s3)                     # exibe: s3:  {'D', 'E'}

s3.discard("D")                       # s3 = {'E'}
print("s3: ", s3)                     # exibe: s3:  {'E'}

print("s2 inter s1 :", s2.intersection(s1))  # exibe:  {"A", "B", "C"}

print(s1.isdisjoint(s2))              # s1 disjunto s2? => False

print(s1.issubset(s2))                # s1 contido s2? => False

print(s2.issubset(s1))                # s2 contido s1? => True

print(s1.issuperset(s2))              # s2 contido s1? => True

s1.remove("C")                        # s1 = {"A", "B", "D", "E"}
print("s1: ", s1)                     # exibe: s1:  {'A', 'B', 'D', 'E'}

s1.update(s2)                         # s1 = {'A', 'B', 'C', 'D', 'E'}
print("s1 uniao s2:", s1.union(s2))   # exibe: s1 uniao s2: {'A', 'B', 'C', 'D', 'E'}

s1.update(s2)                         # s1 = {'A', 'B', 'C', 'D', 'E'}

print("s1 = ", s1)    # Exibe o conjunto s1.
print("s2 = ", s2)    # Exibe o conjunto s2.
print("s3 = ", s3)    # Exibe o conjunto s3.

### Exerc√≠cio 3: Opera√ß√µes com `set`.

Crie um set chamado `frutas` contendo as frutas `"ma√ß√£", "banana", "laranja"` e `"uva"` e ent√£o:
* exiba o conte√∫do;
* adicione a fruta "abacaxi" e exiba o resultado;
* remova o elemento "banana" e exiba o resultado;
* fa√ßa a uni√£o do set `frutas` com o set `vermelhas = {"morango", "cereja", "amora"}`, guarde em `frutas` e exiba o resultado;
* exiba a interse√ß√£o do conjunto `frutas` com o conjunto `frutas2 = {"banana", "pera", "morango"}`.

## Dicion√°rio

Os **dicion√°rios** (*dict*) s√£o cole√ß√µes de (*chave*, *valor*) que s√£o ordenadas e mut√°veis. N√£o permite duplica√ß√µes de suas chaves. Temos ent√£o as seguintes propriedades para a classe `dict`:

* **ordenadas** -- os elementos mant√©m a ordem de inclus√£o (*a partir da vers√£o 3.7 do Python*).

* **elementos podem ser alterados** -- o valor dos elementos podem ter seus valores alterados.

* **n√£o permite duplica√ß√£o das chaves** -- as chaves n√£o podem ser repetidas.

Os m√©todos definidos na classe `dict` s√£o:

* `clear()`: Remove todos os elementos do dicion√°rio.
* `copy()`: Retorna uma c√≥pia do dicion√°rio.
* `fromkeys()`: Retorna um dicion√°rio com as chaves especificadas.
* `get()`: Retorna o valor de uma chave espec√≠fica.
* `items()`: Retorna uma lista contendo uma tupla para cada par `(chave, valor)`.
* `keys()`: Retorna uma lista contendo as chaves do dicion√°rio.
* `pop()`: Remove o elemento na chave especificada.
* `popitem()`: Remove o √∫ltimo elemento inserido.
* `setdefault()`: Retorna o valor da chave especificada. Se a chave n√£o existe insere a chave com o valor especificado.
* `update()`: Atualiza o dicion√°rio com os pares `(chave, valor)` especificados.
* `values()`: Retorna uma lista de todos os valores no dicion√°rio

Os **dicion√°rios** s√£o criados usando `{}` informando pares do tipo `chave: valor`; tamb√©m podem ser criados com `dict()`:

In [ ]:
v1 = {"name" : "R", "version" : 2.7, "name" : "Python"}
v2 = dict(name = "Python", version = 2.7)
# v2 = dict(name = "R", version = 2.7, name = "Python")  ## ERRO: chave duplicada !!

print(v1)    # Exibe o dicion√°rio v1.
print(v2)    # Exibe o dicion√°rio v2.

print(type(v1))    # Exibe "<class 'dict'> indicando que √© dicion√°rio.
print(type(v2))    # Exibe "<class 'dict'> indicando que √© dicion√°rio.

Os valores em um dicion√°rio s√£o acess√≠veis atrav√©s da chave:

In [ ]:
carro_1 = dict(marca = "Ford", modelo = "Mustang", ano = 1967)
carro_2 = dict(marca = "Toyota", modelo = "Corolla", ano = 2022)

print(carro_1["marca"])   # Exibe 'Ford'
print(carro_2["modelo"])  # Exibe 'Corolla'

In [ ]:
car1 = dict(marca = "Ford", modelo = "Mustang", ano = 1967)
car2 = dict(marca = "Toyota", modelo = "Corolla", ano = 2022)

car2.clear()                                # car2 = {}
car2 = car1.copy()                          # car2 =  dict(marca = "Ford", modelo = "Mustang", ano = 1967)
x = dict.fromkeys(("k1", "k2", "k3"), 0)    # x = {'k1': 0, 'k2': 0, 'k3': 0}
print(car1.get("modelo"))                   # => 'Mustang'
print(x.items())                            # => dict_items([('k1', 0), ('k2', 0), ('k3', 0)])
print(x.keys())                             # => dict_keys(['k1', 'k2', 'k3'])

print(car1.pop("modelo"))                   # car1 = {'marca': 'Ford', 'ano': 1967} => 'Mustang'

print(car2.popitem())                       # car2 = {'marca': 'Ford', 'modelo': 'Mustang'} => ('ano', 1967)
print(car2.setdefault("ano", 2020))         # car2 = {'marca': 'Ford', 'modelo': 'Mustang', 'ano': 2020} => 2020
print(car2.setdefault("marca", "Fiat"))     # car2 = {'marca': 'Ford', 'modelo': 'Mustang', 'ano': 2020} => 'Ford'

car1.update({"modelo": "Bronco"})           # car1 = {'marca': 'Ford', 'ano': 1967, 'modelo': 'Bronco'}
print(car1.values())                        # => dict_values(['Ford', 1967, 'Bronco'])

print(car1)    # Exibe o dicion√°rio car1.
print(car2)    # Exibe o dicion√°rio car2.

### Exerc√≠cio 4: Opera√ß√µes com dict

Crie um dicion√°rio chamado `aluno` com as chaves `"nome", "idade"` e `"nota"`, e os respectivos valores `"Ana"`, `20` e `8.5`. Ent√£o:

* exiba o dicion√°rio completo;
* exiba apenas a nota;
* adicione uma nova chave `curso` com o valor `matematica` e exiba o dicion√°rio autalizado;
* altera a `idade` para `21` e exiba o dicion√°rio atualizado;
* remova a chave `nota` e exiba o dicion√°rio atualizado;
* inclua a chave `notas` com os valores `[8.5, 9.0]`  e exiba o dicion√°rio autalizado.

## Range

As **sequ√™ncias** (range) s√£o estruturas utilizadas principalmente para a constru√ß√£o de √≠ndices ou loopings. Essas sequ√™ncias s√£o criadas utilizando a seguinte fun√ß√£o:

`range(start, stop, step)`.

Veja o exemplo:

In [ ]:
x = range(6)          # Sequ√™ncia 0, 1, 2, 3, 4, 5.
y = range(2, 6)       # Sequ√™ncia 2, 3, 4, 5.
z = range(2, 20, 3)   # Sequ√™ncia 2, 5, 8, 11, 14, 17.

print(x)              # Exibe:  range(0, 6)
for i in x:
  print(i)

print(y)              # Exibe: range(2, 6)
for i in y:
  print(i)

print(z)              # Exibe: range(2, 20, 3)
for i in z:
  print(i)

print(type(x))    # Exibe "<class 'range'> indicando que √© sequ√™ncia.
print(type(y))    # Exibe "<class 'range'> indicando que √© sequ√™ncia.
print(type(z))    # Exibe "<class 'range'> indicando que √© sequ√™ncia.

### Exerc√≠cio 5: utilizando range

1. exiba o resultado do `range(0, 30, 2)`;
2. exiba todos os n√∫meros pares entre 50 e 70;
3. exiba todos os n√∫meros √≠mpares entre 50 e 70;
4. exiba todos os n√∫meros que s√£o multiplos de 5 entre 17 e 69.

# Estruturas de c√≥digos

## Execu√ß√£o condicional

Blocos de c√≥digo podem ser executados **condicionalmente**, em que a **execu√ß√£o condicional** permite que o programa tome decis√µes com base em determinadas condi√ß√µes.

Em Python, as instru√ß√µes condicionais s√£o escritas usando as palavras-chave `if`, `else` e `elif` (else if). Com isso, podemos executar diferentes blocos de c√≥digo dependendo de uma condi√ß√£o l√≥gica, que pode ser verdadeira ou falsa.

Estrutura B√°sica de Condicionais:
* `if`: Executa o bloco de c√≥digo se a condi√ß√£o for verdadeira.
* `else`: Executa um bloco de c√≥digo quando todas as condi√ß√µes anteriores s√£o falsas.
* `elif`: Executa um bloco de c√≥digo alternativo se a primeira condi√ß√£o for falsa e a nova condi√ß√£o for verdadeira.

**Operadores Condicionais**

* Operadores de compara√ß√£o:
  * `==`: Igualdade
  * `!=`: Diferen√ßa
  * `>`: Maior que
  * `<`: Menor que
  * `>=`: Maior ou igual a
  * `<=`: Menor ou igual a

* Operadores l√≥gicos:
  * `and`: Verdadeiro se ambas as condi√ß√µes forem verdadeiras.
  * `or`: Verdadeiro se uma das condi√ß√µes for verdadeira.
  * `not`: Inverte o valor l√≥gico (verdadeiro se a condi√ß√£o for falsa, e vice-versa).

In [ ]:
idade = 18

if idade >= 18:
    print("Voc√™ √© maior de idade.")
else:
    print("Voc√™ √© menor de idade.")

No exemplo acima, se a vari√°vel idade for maior ou igual a 18, a mensagem "Voc√™ √© maior de idade" ser√° exibida; caso contr√°rio, a mensagem ser√° "Voc√™ √© menor de idade".

**Exemplo**: Crie um programa que pe√ßa ao usu√°rio um ano e verifique se ele √© bissexto. Um ano √© bissexto se for divis√≠vel por 4, mas n√£o por 100, exceto se for divis√≠vel por 400.

In [ ]:
ano = int(input("Digite um ano: "))

if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
    print(f"{ano} √© um ano bissexto.")
else:
    print(f"{ano} n√£o √© um ano bissexto.")

Blocos condicionais podem ser aninhados.

In [ ]:
velocidade = 200
if velocidade < 20:
  print("Muito lento!")
else:
  if velocidade < 120:
    print("Velocidade usual.")
  else:
    if velocidade >= 120:
      print("Muito r√°pido!")
    else:
      print("Est√° andando de marcha √† r√©?")

No entanto, a linguagem define a palavra chave `elif` para combinar um `else` e um `if`

In [ ]:
velocidade = 120
if velocidade < 20:
  print("Muito lento!")
elif velocidade < 120:
  print("Velocidade usual.")
elif velocidade >= 120:
  print("Muito r√°pido!")
else:
  print("Est√° andando de marcha √† r√©?")

**Exemplo**: Baseado na idade de um atleta, escreva um programa que classifique-o em uma das seguintes categorias:

* At√© 12 anos: Infantil
* 13 a 17 anos: Juvenil
* 18 a 35 anos: Adulto
* Acima de 35 anos: Master

In [ ]:
idade = int(input("Digite a idade do atleta: "))

if idade <= 12:
    print("Categoria: Infantil")
elif idade <= 17:
    print("Categoria: Juvenil")
elif idade <= 35:
    print("Categoria: Adulto")
else:
    print("Categoria: Master")

### Exerc√≠cio 1: Crie um programa que pergunte o pre√ßo de um produto e verifique se ele deve aplicar algum desconto:

* Se o pre√ßo for maior que R$ 1000, aplique um desconto de 10%.
* Caso contr√°rio, aplique um desconto de 5%.

Exiba o valor final do produto ap√≥s o desconto.

### Exerc√≠cio 2: Escreva um programa que pergunte ao usu√°rio a nota de um aluno (de 0 a 100) e exiba a classifica√ß√£o correspondente:

* 90 a 100: A
* 80 a 89: B
* 70 a 79: C
* 60 a 69: D
* Abaixo de 60: F

## La√ßos de repeti√ß√£o

**La√ßos de repeti√ß√£o** permitem executar um bloco de c√≥digo v√°rias vezes. Eles s√£o fundamentais em programa√ß√£o quando precisamos repetir tarefas de forma autom√°tica. Em Python, os principais la√ßos de repeti√ß√£o s√£o `for` e `while`.

O **Controle de Fluxo** pode ser feito com `break` e `continue`, em que:
* `break`: Interrompe a execu√ß√£o do la√ßo antes que ele termine naturalmente.
* `continue`: Pula a itera√ß√£o atual e continua para a pr√≥xima.

### `while`

O la√ßo `while` executa o bloco de c√≥digo enquanto uma condi√ß√£o for verdadeira. Ele verifica a condi√ß√£o antes de cada execu√ß√£o do bloco.

**Sintaxe:**

```python
while condi√ß√£o:
    # C√≥digo a ser executado enquanto a condi√ß√£o for verdadeira
```

**Exemplo**

In [ ]:
contador = 1         # inicializacao
while contador <= 5:
    print(contador)
    contador += 1    # incremento

**Exemplo**

In [ ]:
# Exibe os valores 1, 2, ..., 5.
i = 1
while i < 6:
  print(i)
  i += 1   # Adiciona 1 ao valor i -- OBRIGAT√ìRIO!

print('---')

# Exibe os valores 1, 2, 3
i = 1
while i < 6:
  print(i)
  if i == 3:
    break    # Quando i = 3 o la√ßo √© quebrado.
  i += 1

print('---')

# Exibe os valores 2, 4, 5, 6
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue    # Quando i = 3 retorna para o in√≠cio do la√ßo.
  print(i)

print('---')

i = 1
while i < 6:
  print(i)
  i += 1
print("Executado ao sair do la√ßo!")

### `for`

O la√ßo `for` √© usado para iterar sobre uma sequ√™ncia (como listas, tuplas, strings, ou intervalos com range). Em cada itera√ß√£o, o valor da sequ√™ncia √© atribu√≠do a uma vari√°vel, e o bloco de c√≥digo dentro do la√ßo √© executado.

**Sintaxe do** `for`:

```python
for vari√°vel in sequ√™ncia:
    # C√≥digo a ser executado a cada itera√ß√£o
```

**Exemplo**

In [ ]:
for numero in range(1, 6):
    print(numero)

**Exemplos**

In [ ]:
############################################################
print('--- Parte 1:')
frutas = ['banana', 'ma√ß√£', 'morango']
for fruta in frutas:
  print('Comprar ', fruta, '.', sep='')

print('---')

############################################################
print('--- Parte 2:')
for letra in 'banana':
  print(letra)

print('---')

############################################################
print('--- Parte 3:')
for k in range(10):
  print(k)

print('---')

############################################################
print('--- Parte 4:')
for k in range(10):
  print(k)
  if k == 5:
    break    # Quebra o la√ßo.

print('---')

############################################################
print('--- Parte 5:')
for k in range(1, 15):
  if k % 2  == 0: # se k √© par ent√£o segue para o
    continue      # pr√≥ximo elemento do la√ßo.
  print(k)

print('---')

############################################################
print('--- Parte 6:')
for k in range(1, 15, 2):
  print(k)

print('---')

O la√ßo **for** tamb√©m pode ser usado para inicializar *vetores* e *matrizes*.

In [ ]:
v1 = [ 0 for _ in range(10)]     # Cria um vetor de 10 posi√ß√µes iguais a 0.
v2 = [ i**2 for i in range(10)]  # Cria um vetor de 10 posi√ß√µes com quadrados.

print(v1)
print(v2)

# Cria matrizes 4 x 3.
m1 = [[0 for _ in range(3)] for _ in range(4)]
m2 = [[i*j for j in range(3)] for i in range(4)]

print(m1)
print(m2)

O la√ßo **for** pode ser usado para iterar sobre *listas*, *tuplas*, *conjuntos* e *chaves* de dicion√°rios.

In [ ]:
lista = list(("A","B","C","D"))
tupla = tuple(("A","B","C","D"))
conj  = set(("A","B","C","D"))
carro = dict(marca = "Ford", modelo = "Mustang", ano = 1967)

for k in lista:
  print(k)

print('---')

for k in tupla:
  print(k)

print('---')

for k in conj:
  print(k)

print('---')

for k in carro:
  print('chave = ', k, ', valor = ', carro[k], sep="")

print('---')

for k, v in carro.items():
  print('chave=', k, ', valor=', v, sep="")

**Exemplo:** Crie um programa que receba um n√∫mero inteiro do usu√°rio e use um la√ßo for para verificar se o n√∫mero √© primo.
* Um n√∫mero primo √© div√≠vel apenas por 1 e por ele mesmo;
* Qualquer n√∫mero menor que 2 n√£o √© considerado como primo;
* Para saber se $n$ √© primo, basta que seja testado os divisores pertentes ao intervalo de 2 at√© $||\sqrt{n}||+1$, em que $||x||$ denota o maior inteiro menor que $x$.

In [ ]:
numero = int(input("Digite um n√∫mero: "))

if numero < 2:
    print(f"{numero} n√£o √© primo.")
else:
    primo = True
    for i in range(2, int(numero ** 0.5) + 1):
        if numero % i == 0:
            primo = False
            break

    if primo:
        print(f"{numero} √© primo.")
    else:
        print(f"{numero} n√£o √© primo.")

**Exemplo**: Escreva um programa onde o computador escolhe um n√∫mero aleat√≥rio de 1 a 10 e o usu√°rio tenta adivinhar. O programa continua pedindo palpites at√© que o usu√°rio acerte.

In [ ]:
####### gera√ß√£o do n√∫mero aleat√≥rio
import random
numero_secreto = random.randint(1, 10)

###### parte principal do programa
palpite = 0
while palpite != numero_secreto:
    palpite = int(input("Adivinhe o n√∫mero entre 1 e 10: "))

    if palpite < numero_secreto:
        print("Muito baixo!")
    elif palpite > numero_secreto:
        print("Muito alto!")

print("Parab√©ns! Voc√™ acertou!")

### Exerc√≠cio 3: Soma dos primeiros 100 n√∫meros

a) Use um la√ßo `while` para calcular a soma dos primeiros 100 n√∫meros inteiros (de 1 a 100).

b)  Use um la√ßo `for` para calcular a soma dos primeiros 100 n√∫meros inteiros (de 1 a 100).

### Exerc√≠cio 4: N√∫meros √≠mpares com `continue`

Use um la√ßo `for` para exibir todos os n√∫meros de 1 a 10, exceto os n√∫meros √≠mpares (use o `continue`).

### Exerc√≠cio 5: Fibonacci at√© o d√©cimo termo

Use um la√ßo `while` para calcular e exibir os primeiros 15 termos da sequ√™ncia de Fibonacci.

A sequ√™ncia de Fibonacci come√ßa com 0 e 1, e os pr√≥ximos n√∫meros s√£o a soma dos dois n√∫meros anteriores.

Sequ√™ncia: 0, 1, 1, 2, 3, 5, ...

# Fun√ß√µes

No desenvolvimento de c√≥digos √© comum a necessidade definir sub-rotinas que ser√£o usadas outras vezes ao longo do c√≥digo. Estas sub-rotinas s√£o chamadas de **fun√ß√µes**. Elas ajudam a organizar o c√≥digo, tornando-o mais modular, leg√≠vel e f√°cil de manter.

Para definir uma fun√ß√£o em Python, usamos a palavra-chave `def` seguida do nome da fun√ß√£o e dos par√™nteses. Se a fun√ß√£o aceitar argumentos (valores que podem ser passados para a fun√ß√£o), eles s√£o colocados dentro dos par√™nteses.

Um exemplo b√°sico seria:

In [ ]:
def nome_da_funcao(argumento1, argumento2):
    # Bloco de c√≥digo da fun√ß√£o
    resultado = argumento1 + argumento2
    return resultado  # Retorna o valor final

Aqui est√° uma explica√ß√£o b√°sica dos elementos:

* `def`: Define a fun√ß√£o.
* `nome_da_funcao`: Nome que voc√™ d√° √† fun√ß√£o (como soma, imprimir_mensagem, etc.).
* `Argumentos`: S√£o valores ou vari√°veis que podem ser passados para a fun√ß√£o.
* `return`: Devolve o valor final da fun√ß√£o para ser usado em outras partes do c√≥digo. Se n√£o for especificado, a fun√ß√£o retorna `None` (nada).

Exemplo: fun√ß√£o que soma dois n√∫meros

In [ ]:
def soma(a, b):
    return a + b

# Teste a fun√ß√£o
resultado = soma(5, 3)
print(f"A soma √©: {resultado}")

Exemplo: a execu√ß√£o √© feita apenas at√© o return

In [ ]:
def squared(x):
  return x ** 2
  print("Esta linha n√£o √© executada!")

print(squared(3))

Exemplo: A fun√ß√£o cumprimentar recebe um argumento (nome) e exibe uma mensagem de boas-vindas.

In [ ]:
# Exemplo de uma Fun√ß√£o
def cumprimentar(nome):
    print(f"Ol√°, {nome}! Seja bem-vindo.")

# Chamando a fun√ß√£o
cumprimentar("Ana")
cumprimentar("Paula")
cumprimentar("Jose")

Outro exemplo, agora utilizando dois argumentos.

In [ ]:
def cumprimentar2(cumprimento, nome):
    print(cumprimento + ", " + nome + "!")

# Chamando a fun√ß√£o
cumprimentar2("Bom dia","Ana")
cumprimentar2("Boa tarde","Paula")
cumprimentar2("Boa noite", "Jose")

Os par√¢metros podem ser passados para a fun√ß√£o na forma *posicional* como no exemplo anterior, ou na forma *nomeada* como no exemplo abaixo. A vantagem da forma nomeada √© que n√£o √© obrigat√≥rio manter a ordem dos par√¢metros definidas na fun√ß√£o:

In [ ]:
cumprimentar2( cumprimento="Bom dia", nome="Ana")    # Par√¢metros nomeados.
cumprimentar2(nome="Ana", cumprimento="Bom dia")     # Par√¢metros nomeados fora de ordem.

As fun√ß√µes podem admitir uma **quantidade arbitr√°ria de par√¢metros**. Isto pode ser realizada passando par√¢metros nomeados e posicionais. Para capturar os par√¢metros posicionais utiliza-se um par√¢metro na forma `*lista` que recebem os par√¢metros posicionais em uma *lista* e para capturar os par√¢metros nomeados utiliza-se um par√¢metro na forma `**dicionario` que recebem os par√¢metros nomeados em um *dicion√°rio* (com os nomes dos par√¢metros como chaves).

In [ ]:
# Esta fun√ß√£o captura os dados do usu√°rio, passados como par√¢metros nomeados,
# em um dicion√°rio.
def user(**args):
  print("Primeiro nome  : " + args["fname"])
  print("√öltimo nome    : " + args["lname"])
  print("Nome de usu√°rio: " + args["username"])
  print("Senha          : " + args["pwd"])

user(fname = "Peter", lname = "Norton", username = "pnorton", pwd = "12345")

In [ ]:
## Claro que a fun√ß√£o anterior tamb√©m pode ser implementada
## utilizando um dicion√°rio
def user(args):
  print("Primeiro nome  : " + args["fname"])
  print("√öltimo nome    : " + args["lname"])
  print("Nome de usu√°rio: " + args["username"])
  print("Senha          : " + args["pwd"])

user( dict(fname = "Peter", lname = "Norton", username = "pnorton", pwd = "12345") )

In [ ]:
# Esta fun√ß√£o captura um sequ√™ncia de itens em uma lista.
def comprar(*lista):
  for item in lista:
    print("Preciso comprar " + item + ".")

comprar("tomate", "cebola", "alface")

In [ ]:
# Esta fun√ß√£o combinam os dois conceitos.
def planejar_viagem(destino, *rota, **veiculo):
  print("Estou viajando para: " + destino + ".")

  for item in rota:
    print("Vou visitar: " + item + ".")

  print("Vou utilizar: " + veiculo["carro"] +
        " de " + str(veiculo["ano_fabricacao"]) +
        " abastecido com " + veiculo["combustivel"] + ".")

planejar_viagem("Rio de Janeiro", "Goi√¢nia", "Belo Horizonte", "S√£o Paulo",
                carro="Corolla", ano_fabricacao=2020, combustivel="gasolina")

In [ ]:
# No entanto, o forma convencional permite uma melhor organiza√ß√£o do c√≥digo.
def planejar_viagem(destino, rota, veiculo):
  print("Estou viajando para: " + destino + ".")

  for item in rota:
    print("Vou visitar: " + item + ".")

  print("Vou utilizar: " + veiculo["carro"] +
        " de " + str(veiculo["ano_fabricacao"]) +
        " abastecido com " + veiculo["combustivel"] + ".")

planejar_viagem(
    destino="Rio de Janeiro",
    rota = list( ("Goi√¢nia", "Belo Horizonte", "S√£o Paulo") ),
    veiculo = dict(carro="Corolla", ano_fabricacao=2020, combustivel="gasolina")
     )

As fun√ß√µes admitem **valores padr√£o** para seus par√¢metros:

In [ ]:
def saudacao(nome="Visitante", mensagem="Bem-vindo(a) ao nosso sistema!"):
    print(f"Ol√°, {nome}! {mensagem}")

# Chamadas da fun√ß√£o
saudacao()  # Usa os valores padr√£o
saudacao("Ana")  # Usa um valor personalizado para 'nome'
saudacao("Carlos", "Espero que voc√™ esteja aproveitando o conte√∫do!")  # Usa valores personalizados para ambos

Explica√ß√£o:

* A fun√ß√£o `saudacao` possui dois par√¢metros, `nome` e `mensagem`, ambos com valores padr√£o.

* Quando voc√™ chama a fun√ß√£o sem argumentos, ela usa os valores padr√£o ("Visitante" e "Bem-vindo(a) ao nosso sistema!").

* Ao fornecer valores, voc√™ substitui os valores padr√£o.

### Importante

* Os par√¢metros sem valores padr√£o nas fun√ß√µes precisam *sempre* ser fornecidos.

* Os par√¢metros podem ser fornecidos fora de ordem, desde que sejam nomeados.

In [ ]:
def func(a, b, c):
  pass    # Use 'pass' quando o bloco n√£o tiver um corpo ainda!!!

#func(1, 2)                  # ERRO: falta um dos par√¢metros
func(c = 2, a = 3, b = 5)    # Par√¢metros fora de ordem devem ser nomeados.

### Documenta√ß√£o
E interessante que uma fun√ß√£o seja documentada descrevendo o que aquele c√≥digo faz e como deve ser utilizado.

In [ ]:
def area_retangulo(largura, altura=1):
    """
    Calcula a √°rea de um ret√¢ngulo.

    Esta fun√ß√£o calcula a √°rea de um ret√¢ngulo multiplicando a largura pela altura.
    Se a altura n√£o for especificada, assume o valor padr√£o de 1, tornando a forma equivalente a uma linha.

    Parameters:
    largura (float): A largura do ret√¢ngulo.
    altura (float, opcional): A altura do ret√¢ngulo. Padr√£o √© 1.

    Returns:
    float: A √°rea do ret√¢ngulo calculada como largura * altura.

    Example:
    >>> calcular_area_retangulo(5, 10)
    50
    >>> calcular_area_retangulo(5)
    5
    """
    return largura * altura

Explica√ß√£o da docstring:

1. Descri√ß√£o: A primeira linha explica o que a fun√ß√£o faz de forma resumida.
1. Detalhamento: Explica o funcionamento da fun√ß√£o e descreve o valor padr√£o do argumento altura.
1. Par√¢metros: Detalha cada par√¢metro, seu tipo e fun√ß√£o na opera√ß√£o.
1. Retorno: Descreve o que a fun√ß√£o retorna e o tipo de dado esperado.
1. Exemplos: Fornece exemplos de uso da fun√ß√£o, com valores que mostram o comportamento padr√£o e personalizado.

Esse padr√£o de documenta√ß√£o ajuda outros desenvolvedores a entender o uso e o comportamento da fun√ß√£o.

In [ ]:
## veja como o usu√°ria pode consultar a documenta√ß√£o de uma fun√ß√£o
help(area_retangulo)

In [ ]:
## ou equivalentemente, podemos consultar o atributo __doc__
print( area_retangulo.__doc__ )

In [ ]:
## Geralmente o editor de c√≥digos exibem a docstring
## automaticamente quando o usu√°rio passa o mouse
## sobre a fun√ß√£o ou come√ßa a digit√°-la.

## Como exemplo, passe o mouse sobre a chamada da fun√ß√£o ou apague
## e comece a digitar novamente o nome da fun√ß√£o
area_retangulo()

### Exerc√≠cio 1: Converter Celsius em Fahrenheit

Crie uma fun√ß√£o chamada `celsius_para_fahrenheit` que recebe uma temperatura em graus Celsius e retorna a temperatura equivalente em Fahrenheit. Fa√ßa um print do resultado.

A f√≥rmula de convers√£o √©:
$ ùêπ = ùê∂ \times 9/5 + 32$.

### Exerc√≠cio 2: C√°lcular √°rea de uma sala

Construa um fun√ß√£o para calcular a √°rea em metros de um sala. Essa fun√ß√£o deve conter os seguintes argumentos de entrada e gerar a seguinte sa√≠da:

*   Entrada:
  * comprimento: uma vari√°vel num√©rica indicando o comprimento da sala em metros.
  * largura:  uma vari√°vel num√©rica indicando a larguda da sala em metros.
*   Sa√≠da: a sala possui "comprimento*larguda" metros quadrados.

# Recupera√ß√£o de falhas

No *Python* quando um **erro** ocorre, o interpretador interrompe a execu√ß√£o e exibe uma **mensagem de erro**. Estes erros podem ser tratados com a palavra `try`.

In [ ]:
# Este bloco gera um erro pois 'x' n√£o est√° definida.
try:
  print(x)
except:
  print("Ocorreu uma excess√£o (erro)")

√â poss√≠vel definir blocos `except` para diferentes tipos de erros.

In [ ]:
def dividir_numeros(a, b):
    """
    Divide dois n√∫meros e trata o erro de divis√£o por zero.

    Parameters:
    a (float): O numerador.
    b (float): O denominador.

    Returns:
    float: O resultado da divis√£o, se bem-sucedida.
    """
    try:
        resultado = a / b
    except ZeroDivisionError:
        print("Erro: N√£o √© poss√≠vel dividir por zero.")
        return None
    except TypeError:
        print("Erro: Ambos os valores devem ser n√∫meros.")
        return None
    else:
        return resultado
    finally:
        print("Opera√ß√£o de divis√£o finalizada.")

# Exemplos de uso
print(dividir_numeros(10, 2))  # Sa√≠da: 5.0
print(dividir_numeros(10, 0))  # Sa√≠da: "Erro: N√£o √© poss√≠vel dividir por zero."
print(dividir_numeros(10, 'a'))  # Sa√≠da: "Erro: Ambos os valores devem ser n√∫meros."

Explica√ß√£o:

* `try`: O bloco try executa o c√≥digo que pode gerar uma exce√ß√£o.
* `except ZeroDivisionError`: Este bloco captura o erro de divis√£o por zero, exibindo uma mensagem de erro e retornando None.
* `except TypeError`: Este bloco captura erros de tipo (caso um dos argumentos n√£o seja um n√∫mero), tamb√©m exibindo uma mensagem e retornando None.
* `else`: Executado apenas se o c√≥digo no bloco try n√£o gerar nenhuma exce√ß√£o, retornando o resultado da divis√£o.
* `finally`: Este bloco √© sempre executado, independentemente de ocorrer uma exce√ß√£o, e pode ser √∫til para limpar recursos ou informar o usu√°rio sobre o fim da opera√ß√£o.

 A palavra `finally` pode ser utilizada para encerrar acessos e liberar recursos.

 No exemplo abaixo, o programa abre um arquivo e tenta escrever, mas caso seja gerado algum erro na escrita, ent√£o o `finally`√© utilizado para fechar o arquivo.

In [ ]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorem ipsum")
  except:
    print("N√£o foi poss√≠vel escrever no arquivo.")
  finally:
    f.close()
except:
  print("Houve um erro na abertura do arquivo.")

Os diferentes tipos de erros definidos no *Python* est√£o descritos em https://docs.python.org/3/library/exceptions.html#bltin-exceptions

# Modulariza√ß√£o de c√≥digos (bibliotecas)

Um **m√≥dulo** √© o conceito usado pelo *Python* semelhante √†s bibliotecas no R ou no C: um arquivo contendo fun√ß√µes e classes que pode ser utilizado em outro arquivo de c√≥digo.

Para criar um **m√≥dulo** apenas grave o c√≥digo com as fun√ß√µes e classes que deseja reaproveitar em um arquivo com extens√£o `.py`.

**Exemplo**: Crie um arquivo chamado `meumodulo.py`:

```python
# No arquivo meumodulo.py
def saudacao(nome):
  print("Ol√°,", nome)
```

Para utilizar um **m√≥dulo** basta importar o m√≥dulo com a palavra `import`.

```python
import meumodulo
meumodulo.saudacao("Maria")
```

Ao importar um m√≥dulo usando `import modulo`, o *Python* cria um novo **namespace** (espa√ßo de nomes) chamado `modulo` com o conte√∫do deste m√≥dulo. Para usar uma fun√ß√£o definida no m√≥dulo use a sintaxe `modulo.funcao()` para informar que a `funcao()` est√° definida no *namespace* `modulo`.

Os m√≥dulos podem conter fun√ß√µes e tamb√©m podem conter vetores, dicion√°rios, objetos, etc.

```python
# No arquivo meumodulo.py
pessoa1 = {
  "nome": "Jo√£o",
  "idade": 36,
  "pa√≠s": "Noruega"
}
```

Importe o m√≥dulo chamado `meumodulo` e acesse o dicion√°rio:
```python
import meumodulo
print(meumodulo.pessoa1["idade"])
```

√â poss√≠vel definir um **apelido** alterando o nome do *namespace* com o uso da palavra `as`:
```python
import meumodulo as mx
print(mx.pessoa1["idade"])
```

## M√≥dulos do Python

Existem diversos m√≥dulos pr√©-definidos no *Python* que podem ser importados com `import`:

In [ ]:
import platform
print(platform.system())

A fun√ß√£o `dir()` lista todos os elementos de um m√≥dulo.

In [ ]:
import math

for item in dir(math):
  print(item)

√â poss√≠vel importar apenas partes de um m√≥dulo usando a palavra `from`. Veja o exemplo:

In [ ]:
from math import pi, sqrt

print(pi)

print(sqrt(25))

**Nota:** elementos importados com `from` n√£o usam o nome do m√≥dulo. Note que no exemplo, usamos:
* `pi` ao inv√©s de `math.pi`;
* `sqrt` ao inv√©s de `math.sqrt`.

## Instalando novos m√≥dulos

No *Python* √© poss√≠vel instalar novos m√≥dulos com o comando `pip install modulo`.

## Biblioteca Padr√£o do Python

A **Biblioteca Padr√£o do Python** √© um conjunto extenso de m√≥dulos e pacotes integrados que fornecem solu√ß√µes para uma ampla gama de tarefas comuns, sem a necessidade de instalar bibliotecas adicionais. Ela inclui ferramentas para manipula√ß√£o de arquivos, express√µes regulares, c√°lculos matem√°ticos, comunica√ß√£o de rede, criptografia, manipula√ß√£o de dados e muito mais.

Aqui est√£o alguns dos m√≥dulos mais utilizados da **Biblioteca Padr√£o**:

1. **`math`**: Fornece fun√ß√µes matem√°ticas, como fun√ß√µes trigonom√©tricas, exponenciais, fatoriais e arredondamento.
1. **`statistics`**: Fun√ß√µes para c√°lculos b√°sicos de estat√≠sticas, como m√©dia, mediana, desvio padr√£o, correla√ß√£o, etc.
1. **`datetime`**: Manipula datas e horas, permitindo a cria√ß√£o, formata√ß√£o e c√°lculo de intervalos de tempo.
1. **`os`**: Oferece fun√ß√µes para intera√ß√£o com o sistema operacional, como manipula√ß√£o de arquivos, diret√≥rios e vari√°veis de ambiente.
1. **`re`**: Oferece suporte a express√µes regulares, permitindo a busca e manipula√ß√£o de padr√µes em strings.
1. **`http`**: Suporta funcionalidades de comunica√ß√£o HTTP, como cria√ß√£o de servidores web e envio de requisi√ß√µes.

A biblioteca padr√£o do Python √© vasta, cobrindo uma ampla variedade de funcionalidades essenciais. Para mais detalhes, voc√™ pode consultar a [documenta√ß√£o oficial](https://docs.python.org/pt-br/3/library).

## Principais Bibliotecas do Python

### 1. **NumPy**
   - **Descri√ß√£o**: Biblioteca fundamental para computa√ß√£o cient√≠fica. Fornece suporte para arrays multidimensionais e fun√ß√µes matem√°ticas de alto n√≠vel.
   - **Uso principal**: Opera√ß√µes num√©ricas, √°lgebra linear, transformadas de Fourier, gera√ß√£o de n√∫meros aleat√≥rios, manipula√ß√£o de grandes volumes de dados.
   - **Instala√ß√£o**: `pip install numpy`

### 2. **Pandas**
   - **Descri√ß√£o**: Ferramenta poderosa para an√°lise e manipula√ß√£o de dados em grandes volumes, com estrutura de DataFrames (tabela de dados) e Series (colunas individuais) para organizar, limpar e transformar dados de forma pr√°tica.
   - **Uso principal**: Manipula√ß√£o de dados tabulares, leitura/escrita de arquivos CSV, Excel, etc.
   - **Instala√ß√£o**: `pip install pandas`

### 3. **Matplotlib**
   - **Descri√ß√£o**: Biblioteca para cria√ß√£o de gr√°ficos 2D, como gr√°ficos de linha, barras e dispers√£o.
   - **Uso principal**: Visualiza√ß√£o de dados atrav√©s de gr√°ficos.
   - **Instala√ß√£o**: `pip install matplotlib`

### 4. **Seaborn**
   - **Descri√ß√£o**: Biblioteca de visualiza√ß√£o de dados baseada no Matplotlib, com gr√°ficos estat√≠sticos.
   - **Uso principal**: Cria√ß√£o de gr√°ficos estat√≠sticos simples como gr√°ficos de densidade e correla√ß√£o.
   - **Instala√ß√£o**: `pip install seaborn`

### 5. **Scikit-learn**
   - **Descri√ß√£o**: Biblioteca para aprendizado de m√°quina, contendo ferramentas simples e eficientes para minera√ß√£o de dados e an√°lise preditiva.
   - **Uso principal**: Regress√£o, classifica√ß√£o, clustering e pr√©-processamento de dados.
   - **Instala√ß√£o**: `pip install scikit-learn`

### 6. **TensorFlow**
   - **Descri√ß√£o**: Biblioteca de aprendizado profundo e machine learning desenvolvida pelo Google.
   - **Uso principal**: Treinamento de redes neurais, deep learning, reconhecimento de padr√µes.
   - **Instala√ß√£o**: `pip install tensorflow`

### 7. **Keras**
   - **Descri√ß√£o**: Biblioteca de alto n√≠vel para constru√ß√£o e treinamento de redes neurais, que pode ser usada com TensorFlow.
   - **Uso principal**: Simplifica√ß√£o do desenvolvimento de redes neurais.
   - **Instala√ß√£o**: `pip install keras`

### 8. **Requests**
   - **Descri√ß√£o**: Biblioteca simples para fazer requisi√ß√µes HTTP de maneira f√°cil e eficiente.
   - **Uso principal**: Comunica√ß√£o com APIs e envio de requisi√ß√µes HTTP (GET, POST, etc.).
   - **Instala√ß√£o**: `pip install requests`

### 9. **Flask**
   - **Descri√ß√£o**: Micro framework para o desenvolvimento de aplica√ß√µes web e APIs.
   - **Uso principal**: Cria√ß√£o r√°pida de APIs RESTful e pequenos sites.
   - **Instala√ß√£o**: `pip install flask`

### 10. **BeautifulSoup**
   - **Descri√ß√£o**: Biblioteca para web scraping, usada para extrair dados de p√°ginas HTML e XML.
   - **Uso principal**: Extra√ß√£o de dados de sites.
   - **Instala√ß√£o**: `pip install beautifulsoup4`

# **Strings**

Strings s√£o um dos tipos de dados mais fundamentais, representando sequ√™ncias de caracteres que permitem manipula√ß√µes textuais variadas, como concatena√ß√£o, fatiamento, busca e substitui√ß√£o de trechos.

Para opera√ß√µes mais avan√ßadas de processamento de texto, como a extra√ß√£o de padr√µes complexos ou a valida√ß√£o de formatos espec√≠ficos (e-mails, n√∫meros de telefone, etc.), Python oferece suporte a express√µes regulares por meio do m√≥dulo `re`.

Express√µes regulares s√£o ferramentas para definir padr√µes de busca que capturam, substituem ou transformam partes espec√≠ficas de uma string, tornando-as essenciais para o processamento de grandes volumes de dados textuais e para a automa√ß√£o de tarefas que dependem de correspond√™ncias de padr√µes.

## Fun√ß√µes b√°sicas

Fun√ß√µes √∫teis para manipula√ß√£o de strings:

* `split()`: Divide uma string em uma lista de substrings com base em um delimitador (por padr√£o, divide por espa√ßos). √â √∫til para separar palavras ou partes de uma string.
* `join()`: Concatena uma lista de strings usando um delimitador especificado. √ötil para unir elementos em uma √∫nica string.
* `replace()`: Substitui todas as ocorr√™ncias de uma substring por outra dentro de uma string. √â usada para modifica√ß√µes localizadas de texto.
* `upper()`, `lower()`: Convertem a string para letras mai√∫sculas ou min√∫sculas, respectivamente.
* `title()`: Converte a primeira letra de cada palavra para mai√∫scula.
* `strip()`: Remove espa√ßos em branco (ou outros caracteres especificados) do in√≠cio e do fim da string. √ötil para limpar dados de entrada.
* `count()`: Conta o n√∫mero de ocorr√™ncias de uma substring na string.
* `find()`: Retorna o √≠ndice da primeira ocorr√™ncia de uma substring dentro da string. Se a substring n√£o for encontrada, retorna -1.

In [ ]:
##Exemplo: Opera√ß√µes B√°sicas com Strings

# Declara√ß√£o de uma string
texto = "Ol√°, Mundo!"

# Acessando caracteres
print(texto[0])   # Sa√≠da:  O
print(texto[-1])  # Sa√≠da:  !

# Fatiamento
print(texto[0:5])  # Sa√≠da:  Ol√°,

# Exemplo de lower()
print(texto.lower())  # Sa√≠da:  ol√°, mundo!

# Exemplo de upper()
print(texto.upper())  # Sa√≠da:  OL√Å, MUNDO!

# Exemplo de title()
frase = "python √© incr√≠vel"
print(frase.title())  # Sa√≠da: "Python √â Incr√≠vel"

In [ ]:
# Exemplo de replace()
texto = "Ol√°, Mundo!"
print(texto.replace("Mundo", "Python"))  # Sa√≠da: Ol√°, Python!

# Exemplo de strip()
texto_com_espacos = "   Ol√°, mundo!   "
print(texto_com_espacos.strip(" "))      # Sa√≠da: "Ol√°, mundo!"

email = " maria@unb.br "
print(email.strip(" "))                  # saida: "maria@unb.br"

# Exemplo de find()
frase = "Python √© incr√≠vel"
print(frase.find("√©"))                   # Sa√≠da: 7
print(frase.find("Java"))                # Sa√≠da: -1

In [ ]:
# Exemplos de split() e joing()
mensagem = "Python √© uma linguagem poderosa"

exemplo_split = mensagem.split( )
print(exemplo_split)  # Sa√≠da: ['Python', '√©', 'uma', 'linguagem', 'poderosa']

exemplo_join = " ".join( exemplo_split)
print(exemplo_join)  # Sa√≠da: Python √© uma linguagem poderosa

exemplo_join2 = '_'.join( exemplo_split)
print(exemplo_join2)  # Sa√≠da: Python √© uma linguagem poderosa

**Formatando Strings:**

In [ ]:
nome = "Jo√£o"
idade = 25
# Usando f-strings (Python 3.6+)
ex_f = f"Meu nome √© {nome} e eu tenho {idade} anos."
print(ex_f)  # Meu nome √© Jo√£o e eu tenho 25 anos.

# Usando o m√©todo format
ex_format = "Meu nome √© {} e eu tenho {} anos.".format(nome, idade)
print(ex_format)  # Mesma sa√≠da.

# Usando "+"
ex_mais = "Meu nome √© " + nome + " e eu tenho " + str(idade) + " anos."
print(ex_mais)

### Exerc√≠cio 1:

Crie uma fun√ß√£o chamada `saudacao` que recebe dois par√¢metros: `nome` e `sobrenome`. A fun√ß√£o deve concatenar esses dois par√¢metros para retornar uma sauda√ß√£o completa, como "Ol√°, Nome Sobrenome!".

### Exerc√≠cio 2:

Crie uma fun√ß√£o chamada `extrair_dominio` que recebe um endere√ßo de email como par√¢metro e retorna apenas o dom√≠nio (parte ap√≥s o @). Use `split()` para dividir o email e extrair o dom√≠nio.

Exemplo:
```python
extrair_dominio("usuario@dominio.com")  # Sa√≠da: "dominio.com"
```

### Exerc√≠cio 3:

Construa um c√≥digo que altera um n√∫mero de telefone no formato "61997351520" para o formato "(61) 99735-1520".

Exemplo:
```python
altera_telefone(61997351520)  # Sa√≠da: "(61) 99735-1520"
```

In [ ]:
def altera_telefone(numero):
  numero = str(numero)
  fatia1 = numero[0:2]
  fatia2 = numero[2:7]
  fatia3 = numero[7:11]
  fatia4 = numero[11:13]
  novo_numero = f"({fatia1}) {fatia2}-{fatia3}{fatia4}"
  return novo_numero

altera_telefone(61997351520)

## Express√µes Regulares

Trabalhar com dados textuais √© uma tarefa comum em v√°rias √°reas de programa√ß√£o, como processamento de linguagem natural, an√°lise de logs, extra√ß√£o de dados e muito mais.

Para lidar eficientemente com textos e padr√µes em strings, Python oferece suporte a express√µes regulares (Regex) por meio da biblioteca `re`.

### Sintaxe de Express√µes Regulares

Os padr√µes s√£o formados utilizando operadores, veja os mais comuns abaixo:

| S√≠mbolo | Significado                                    |
|---------|------------------------------------------------|
| `.`     | Qualquer caractere (exceto nova linha)         |
| `\d`    | Qualquer d√≠gito (0-9)                          |
| `\D`    | Qualquer caractere que **n√£o** √© um d√≠gito     |
| `\w`    | Qualquer caractere alfanum√©rico (qualquer letra ou d√≠gito) ou (`_`)                                                      |
| `\W`    | Qualquer caractere que **n√£o** pertence a classe `\w`.|
| `\s`    | Qualquer espa√ßo em branco (espa√ßos, tabula√ß√µes, quebras de linha)                                                     |
| `\S`    | Qualquer caractere que **n√£o** pertence a classe `\s`. |
| `[]`    | Define um conjunto de caracteres, exemplo: [a-z] para letras min√∫sculas                                                 |
| `{n}`   | Corresponde exatamente a `n` ocorr√™ncias do caractere ou padr√£o anterior.                                                  |
| `{n,}`  | Corresponde a `n` ou mais ocorr√™ncias do caractere ou padr√£o anterior.                                                  |
| `{n,m}` | Corresponde de `n` a `m` ocorr√™ncias do caractere ou padr√£o anterior.                                                  |
| `+`     | Uma ou mais ocorr√™ncias                        |
| `*`     | Zero ou mais ocorr√™ncias                       |
| `?`     | Zero ou uma ocorr√™ncia                         |
| `^`     | In√≠cio da string                               |
| `$`     | Final da string                                |

### Principais Fun√ß√µes de `re`:

* `re.search(padr√£o, string)`: Procura por um padr√£o em uma string. Retorna a primeira ocorr√™ncia encontrada.
* `re.findall(padr√£o, string)`: Retorna todas as correspond√™ncias de um padr√£o em uma string.
* `re.sub(padr√£o, substitui√ß√£o, string)`: Substitui as correspond√™ncias do padr√£o em uma string por outro valor. Retorna a string atualizada.
* `re.split(pattern, string)`: Divide a string com base em um padr√£o e retorna uma lista. √ötil para dividir a string usando delimitadores mais complexos que simples espa√ßos ou v√≠rgulas.

Existem outras fun√ß√µes e s√≠mbolos implementados na biblioteca `re`. Para mais detalhes acesse o manual da biblioteca: [https://docs.python.org/3/library/re.html](https://docs.python.org/3/library/re.html).

Para entender como esses padr√µes podem ser utilizados, veja os exemplos abaixo.

### Exemplo:  Encontrar todos os n√∫meros em um texto

**Explica√ß√£o:**

O termo `padrao = r"\d+"` define o padr√£o da express√£o regular, em que:
* `\d` representa qualquer d√≠gito num√©rico (0-9).
* `+` indica que deve haver uma ou mais ocorr√™ncias de d√≠gitos consecutivos.

Assim, `\d+` corresponde a qualquer sequ√™ncia cont√≠nua de um ou mais d√≠gitos, como 50 e 250.

In [ ]:
import re

texto = "O pre√ßo √© 50 d√≥lares ou 250 reais."

padrao = r"\d+"

print(re.findall(padrao, texto))  # ['50', '250']

In [ ]:
## no caso de querer tudo que n√£o seja digitos:
import re

texto = "O pre√ßo √© 50 d√≥lares ou 250 reais."

padrao2 = r"\D+"

print(re.findall(padrao2, texto))  # ['O pre√ßo √© ', ' d√≥lares ou ', ' reais.']


Tamb√©m podemos identificar quantas ocorr√™ncias devem ser buscadas com `{ }`, por exemplo, `"\d{5}"` indica uma sequ√™ncia de 5 digitos. Veja como isso pode ser √∫til nos exemplos abaixo.

### Exemplo: buscando telefones

In [ ]:
## Exemplo: buscando telefones

from re import search, findall

texto = "o meu n√∫mero √© (61) 99800-8584 e (11) 99785-2020"

# Regex para encontrar telefones
padrao = r"\(\d{2}\) \d{5}-\d{4}"

## re.search localiza apenas a primeira ocorr√™ncia
out_search = search( padrao, texto )

print( out_search  )         # saida: <re.Match object; span=(15, 30), match='(61) 99800-8584'>
print( out_search.group()  ) # saida: (61) 99800-8584

## re.findall localiza todas as ocorr√™ncias
out_findall = findall( padrao, texto )

print( out_findall )         # saida: ['(61) 99800-8584', '(11) 99785-2020']

## ultima ocorr√™ncia
print( out_findall[-1] )     # saida: '(11) 99785-2020'

### Exemplo: buscandos datas

In [ ]:
## Exemplo: buscandos datas

from re import findall

texto = "Hoje √© dia 02/10/2024 e o pr√≥ximo evento ser√° em 15/11/2024."

# Regex para encontrar datas no formato DD/MM/AAAA
padrao_data = r"\d{2}/\d{2}/\d{4}"

# re.findall localiza todas as ocorr√™ncias
datas = findall(padrao_data, texto)

print(datas)  # ['02/10/2024', '15/11/2024']

### Exemplo: buscando emails

**Explica√ß√£o:**

Padr√£o `r"\S+@\S+"`:

* `\S+`: Corresponde a uma sequ√™ncia de caracteres n√£o-espa√ßos (letras, n√∫meros ou s√≠mbolos) uma ou mais vezes.
* `@`: Corresponde exatamente ao s√≠mbolo @, que √© caracter√≠stico dos endere√ßos de e-mail.
* `\S+` (ap√≥s o @): Corresponde a mais uma sequ√™ncia de caracteres n√£o-espa√ßos para identificar o dom√≠nio do e-mail.

In [ ]:
## Exemplo: buscando emails

from re import findall

texto = "Se tiver problemas de conex√£o ent√£o envie um email para administrador@exemplo.com, mas se o problema persistir ent√£o entre em contato o sac pelo email sac@exemplo.com"

padrao = r"\S+@\S+"  # Padr√£o para e-mails

emails = re.findall(padrao, texto)

print(emails) # ['administrador@exemplo.com,', 'sac@exemplo.com']

### Grupos e capturas

As express√µes regulares podem agrupar partes de um padr√£o usando par√™nteses, o que permite capturar subpartes espec√≠ficas.

In [ ]:
## Exemplo: grupos e capturas

# Explica√ß√£o:
# O padr√£o (\w+) captura uma palavra (como o nome de um produto).
# O padr√£o (\d+) captura um ou mais d√≠gitos (como o pre√ßo).

import re

texto = "Produto: Camiseta, Pre√ßo: R$50.75"
padrao = r"Produto: (\w+), Pre√ßo: R\$(\d+\.\d+)"
resultado = re.search(padrao, texto)

if resultado:
    produto = resultado.group(1)  # 'Camiseta'
    preco = resultado.group(2)    # '50.75'
    print(f"Produto: {produto}, Pre√ßo: R${preco}")

In [ ]:
# Explica√ß√£o:
# O padr√£o (\w+) captura o nome.
# O padr√£o (\d+) captura a idade.

import re

texto = "Nome: Ana, Idade: 25; Nome: Jo√£o, Idade: 30; Nome: Maria, Idade: 22"
padrao = r"Nome: (\w+), Idade: (\d+)"
pessoas = re.findall(padrao, texto)

for nome, idade in pessoas:
    print(f"Nome: {nome}, Idade: {idade}")

### **Exemplo:** separando dia, m√™s e ano

Considere o texto `Hoje √© 15/10/2024.` e ent√£o extraia o dia, m√™s e ano. Utilize a fun√ß√£o `re.search(padrao, texto)`.

In [ ]:
# Solu√ß√£o
import re

texto = "Hoje √© 15/10/2024."

padrao = r"(\d{2})/(\d{2})/(\d{4})"
resultado = re.search(padrao, texto)

if resultado:
    dia, mes, ano = resultado.groups()
    print(f"Dia: {dia}, M√™s: {mes}, Ano: {ano}")

### **Exemplo:** formatando datas

Dado o texto `"Reuni√£o em 12/09/2024 e evento em 10/12/2024"`, substitua todas as datas pelo formato AAAA-MM-DD.

In [ ]:
# Solu√ß√£o
import re

texto = "Reuni√£o em 12/09/2024 e evento em 10/12/2024."
padrao = r"(\d{2})/(\d{2})/(\d{4})"

novo_texto = re.sub(padrao, r"\3-\2-\1", texto)

print(novo_texto)  # 'Reuni√£o em 2024-09-12 e evento em 2024-12-10.'

*Explica√ß√£o:*

`re.sub(padrao, r"\3-\2-\1", texto)`
   - A fun√ß√£o `re.sub()` substitui todas as ocorr√™ncias que correspondem ao padr√£o `(\d{2})/(\d{2})/(\d{4})` no `texto` pela nova formata√ß√£o especificada.
   - **`r"\3-\2-\1"`**: Reorganiza os grupos capturados para exibir a data no formato `AAAA-MM-DD`.
     - `\3` refere-se ao terceiro grupo (o ano).
     - `\2` refere-se ao segundo grupo (o m√™s).
     - `\1` refere-se ao primeiro grupo (o dia).
   - Portanto, `12/09/2024` se torna `2024-09-12`, e `10/12/2024` se torna `2024-12-10`.

### **Exemplo**: verificando CPF

Crie uma express√£o regular que valide se um CPF est√° no formato correto: xxx.xxx.xxx-xx, onde x √© um d√≠gito.

In [ ]:
# Solu√ß√£o
import re

cpf = "123.456.789-09"
padrao = r"\d{3}\.\d{3}\.\d{3}-\d{2}"

if re.fullmatch(padrao, cpf): ## retorna True se a equival√™ncia √© perfeita.
    print("CPF v√°lido!")
else:
    print("CPF inv√°lido.")

### **Exemplo**: Extra√ß√£o de URLs

Dada uma string contendo v√°rias URLs, extraia todas elas usando uma express√£o regular.

Neste caso, o padr√£o a ser buscado deve ser:

`padrao = r"https?://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"`

o qual √© usado para capturar URLs que come√ßam com `http` ou `https`, seguidos por um dom√≠nio e uma extens√£o de dom√≠nio de pelo menos dois caracteres.

*Explica√ß√£o do Padr√£o:*

- `https?`:
  - `http` √© seguido por `s?`, onde `?` indica que o `s` √© opcional.
  - Isso permite capturar tanto `http` quanto `https`.

- `://`:
  - Representa exatamente os caracteres `://`, que aparecem logo ap√≥s `http` ou `https` em URLs.

- `[a-zA-Z0-9.-]+`:
  - `[a-zA-Z0-9.-]` define um conjunto de caracteres permitidos:
    - `a-z`: letras min√∫sculas.
    - `A-Z`: letras mai√∫sculas.
    - `0-9`: d√≠gitos num√©ricos.
    - `.` e `-`: pontos e h√≠fens, comuns em dom√≠nios.
  - `+` indica que deve haver **um ou mais desses caracteres**. Esse conjunto captura o dom√≠nio principal e subdom√≠nios (por exemplo, `www`, `sub.exemplo`, `exemplo-com`).

- `\.[a-zA-Z]{2,}`:
  - `\.` corresponde exatamente a um ponto `.` (o caractere especial `.` √© escapado com `\`).
  - `[a-zA-Z]{2,}` corresponde a uma sequ√™ncia de letras (mai√∫sculas ou min√∫sculas) de **pelo menos dois caracteres**.
  - Esse trecho captura a extens√£o do dom√≠nio, como `.com`, `.org`, `.net`, `.br`, etc.

In [ ]:
# Solu√ß√£o
import re

texto = "Visite nossos sites: https://example.com e http://test.com.br para mais informa√ß√µes."

padrao = r"https?://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"

urls = re.findall(padrao, texto)
print(urls)  # ['https://example.com', 'http://test.com.br']

### Exerc√≠cio 4:

Crie uma express√£o regular que valide CEPs no formato XXXXX-XXX, onde X √© um d√≠gito. Escreva uma fun√ß√£o validar_cep que recebe uma string e retorna True se o CEP for v√°lido, caso contr√°rio, False.

```python
validar_cep("12345-678")  # True
validar_cep("1234-678")   # False
```

### Exerc√≠cio 5:

Crie uma fun√ß√£o que verifica se placas de carro est√£o no formato antigo brasileiro (AAA-1234), onde A √© uma letra mai√∫scula e 1-4 s√£o n√∫meros.

Exemplo:

```python
verifica_placa("PHL-2526") # True
verifica_placa("AAB9E81")  # False
```

# Introdu√ß√£o ao NumPy

O **NumPy** √© uma das bibliotecas fundamentais para a computa√ß√£o cient√≠fica em Python, sendo amplamente usada para trabalhar com arrays multidimensionais e opera√ß√µes matem√°ticas de alto desempenho. Ela fornece ferramentas para manipula√ß√£o de dados, √°lgebra linear, estat√≠sticas, etc.

Mais detalhes podem ser encontrados no tutorial: https://numpy.org/devdocs/user/quickstart.html

Esta √© uma r√°pida introdu√ß√£o ao NumPy que demonstra como matrizes n-dimensionais s√£o representadas e podem ser manipulatadas.

A classe de matrizes do NumPy √© chamada `ndarray`. Tamb√©m √© chamada pelo apelido `array`. Note que `numpy.array` n√£o √© o mesmo que a classe `array.array` da biblioteca padr√£o do Python, a qual manipula apenas vetores unidimensionais e oferecem menos funcionalidades.

Os principais atributos de um objeto `ndarray` s√£o:

- `ndarray.ndim`: n√∫mero de dimens√µes da matriz.

- `ndarray.shape`: as dimens√µes da matriz. Uma tupla de inteiros indicando o tamanho em cada dimens√£o. Para uma matriz com linhas e colunas, o resultado ser√° `(n, m)`. O tamanho da tupla √© o mesmo que o n√∫mero de eixos `ndim`.

- `ndarray.size`: o n√∫mero total de elementos na matriz. √â igual ao produtos dos elementos do shape.

- `ndarray.dtype`: um objeto que descreve o tipo dos elementos da matriz. Pode ser criado usando os tipos padr√£o do Python. Al√©m destes, NumPy define outros tipos como `numpy.int32`, `numpy.int16`, e `numpy.float64`.

- `ndarray.reshape`: permite alterar a dimens√£o de um array.

## Criando Arrays

O `array` √© a estrutura de dados central do NumPy. Ele √© mais eficiente e flex√≠vel do que as listas Python tradicionais.

Importanto a biblioteca com
```python
import NumPy as np
```

Alguns m√≥dulos mais importantes da biblioteca s√£o:

* `np.array()`: cria arrays a partir de listas;
* `np.zeros()`: cria um array preenchido com zeros;
* `np.arange()`: cria um array com uma sequ√™ncia de valores;
* `np.linspace()`: cria um array de valores uniformemente espa√ßados.

Veja os exemplo abaixo:

In [ ]:
import numpy as np

# Criando um array a partir de uma lista:
print("--a--")
a = np.array([1, 2, 3, 4])
print(a)                  # Sa√≠da: [1 2 3 4] (vetor)
print("type:", type(a))   # Sa√≠da: <class 'numpy.ndarray'>
print("dtype:", a.dtype)  # Sa√≠da: int64
print("size:", a.size)    # Sa√≠da: 4
print("ndim:", a.ndim)    # Sa√≠da: 1
print("shape:", a.shape)  # Sa√≠da: (4,)
print("-----")

# Arrays de m√∫ltiplas dimens√µes:
print("--b--")
b = np.array([[1, 2, 3], [4, 5, 6]])
print(b)                  # Sa√≠da: [[1 2 3] [4 5 6]] (matriz)
print("type:", type(b))   # Sa√≠da: <class 'numpy.ndarray'>
print("dtype:", b.dtype)  # Sa√≠da: int64
print("size:", b.size)    # Sa√≠da: 4
print("ndim:", b.ndim)    # Sa√≠da: 2
print("shape:", b.shape)  # Sa√≠da: (2, 3)
print("-----")

# Arrays com valores predefinidos
## Array de zeros:
print("--zeros--")
zeros = np.zeros((2, 3))
print("dtype:", zeros.dtype)  # Sa√≠da: float64
print(zeros)                  # Sa√≠da: [[0. 0. 0.] [0. 0. 0.]]
print("-----")

## Array de uns:
print("--ones--")
ones = np.ones((2, 2))    # Matriz 2x2 de uns
print(ones)               # Sa√≠da: [[1. 1.] [1. 1.]]
print("-----")

# Arrays sequenciais
## Array com valores de 0 a 9:
print("--seq--")
seq = np.arange(10)
print(seq)                # Sa√≠da: [0 1 2 3 4 5 6 7 8 9]
print("-----")

## Array com valores igualmente espa√ßados:
print("--lin--")
lin_space = np.linspace(0, 1, 5)  # 5 valores igualmente espa√ßados entre 0 e 1
print(lin_space)          # Sa√≠da: [0.   0.25 0.5  0.75 1.  ]
print("-----")

A dimens√£o de um array pode ser alterada utilizando o atributo `.reshape`. Veja o exemplo:

In [ ]:
seq = np.arange(12) ## vetor
print(seq)  # Sa√≠da: [0 1 2 3 4 5 6 7 8 9 10 11]
print("-----")

a = seq.reshape(3, 4)  ## matriz 3x4
print(a)  # Sa√≠da: [[ 0  1  2  3] [ 4  5  6  7] [ 8  9 10 11]]
print("-----")

b = seq.reshape(4, 3)  ## matriz 4x3
print(b)  # Sa√≠da: [[ 0  1  2] [ 3  4  5] [ 6  7  8] [ 9 10 11]]

Existem diversas formas de se criar matrizes:

In [ ]:
# O tipo √© deduzido dos elementos.
import numpy as np
a = np.array([2, 3, 4])
print(a)
a.dtype     ## exibe: dtype('int64')

In [ ]:
b = np.array([1.2, 3.5, 5.1])
print(b)
b.dtype   ## exibe: dtype('float64')

Um erro frequente consiste em chamar array com m√∫ltiplos argumentos, ao inv√©s de uma sequ√™ncia.

In [ ]:
#a = np.array(1, 2, 3, 4)     # TypeError
a = np.array([1, 2, 3, 4])   # CORRETO!

`np.array` transforma sequ√™ncia de sequ√™ncias em matrizes bidimensionais, sequ√™ncias de sequ√™ncias de sequ√™ncias em matrizes tridimensionais, etc.

In [ ]:
b = np.array([(1.5, 2, 3), (4, 5, 6)])
b

O tipo da matriz pode ser especificado explicitamente na cria√ß√£o:

In [ ]:
c = np.array([[1, 2], [3, 4]], dtype= complex)
c

Frequentemente, os elementos de uma matriz s√£o originalmente desconhecidos, mas seu tamanho √© conhecido. Entretanto, NumPy oferece v√°rias fun√ß√µes para criar matrizes com valores coringa. Isto minimiza a necessidade de expandir matrizes, uma opera√ß√£o intensiva computacionalmente.

A fun√ß√£o `zeros()` cria uma matriz de `0`s, a fun√ß√£o `ones()` cria uma matriz de `1`s, e a fun√ß√£o `empty()` cria uma matriz cujo conte√∫do inicial √© o conte√∫do presente na mem√≥ria. Por padr√£o o `dtype` da matriz criada √© `float64`, mas pode ser especificado pelo argumento `dtype`.

In [ ]:
np.zeros((3, 4))    # Cria uma matriz 3 por 4 com todos os elementos iguais a 0.

In [ ]:
np.ones((2, 3, 4), dtype= np.int16)    # Cria uma matriz 2 por 3 por 4 com todos os elementos iguais a 1.

In [ ]:
np.empty((2, 3))    # Cria uma matriz 2 por 3 sem inicializar os elementos.

Para criar sequ√™ncias de n√∫meros o NumPy fornece a fun√ß√£o `arange()` que √© an√°loga √† fun√ß√£o `range()` do Python mas que retorna uma matriz.

In [ ]:
np.arange(10, 30, 5)    # Cria um vetor com elementos de 10 a 30 com passo 5.

In [ ]:
np.arange(0, 2, .3)    # Cria um vetor com elementos de 0 a 2 com passo 0.3.

Ao usar `arange()` com n√∫meros n√£o inteiros pode n√£o ser poss√≠vel predizer a quantidade de elementos obtidos devido √† precis√£o do ponto flutuante. Melhor usar `linspace()` passando o n√∫mero de elementos:

In [ ]:
from numpy import pi
x = np.linspace(0, 2 * pi, 100)  # Cria um vetor com 100 elementos entre 0 e 2pi.
f = np.sin(x)                    # Aplica a fun√ß√£o seno a cada elemento do vetor.

O NumPy exibe a matriz de forma similar √† listas aninhadas com o seguinte layout:

- O √∫ltimo eixo √© exibido da esquerda para a direita;

- O pen√∫ltimo eixo √© exibido de cima para baixo;

- Os demais eixos s√£o exibidos de cima para baixo separados por uma linha em branco;

Vetores (unidimensional) s√£o exibidos como vetorlinhas, matrizes bidimensionais como matrizes e matrizes tridimensionais como lista de matrizes.

In [ ]:
a = np.arange(6)    # Cria um vetor com 6 elementos de 0 a 5.
print(a)

In [ ]:
b = np.arange(12).reshape(4, 3)    # Cria uma matriz 4 por 3.
print(b)

In [ ]:
c = np.arange(24).reshape(2, 3, 4)  # Cria uma matriz 2 por 3 por 4.
print(c)

Se a matriz √© muito grande o NumPy automaticamente omite a parte central da matriz:

In [ ]:
print(np.arange(10000))

In [ ]:
print(np.arange(10000).reshape(100, 100))

Para disabilitar, mude a op√ß√£o usando:

```python
np.set_printoptions(threshold= sys.maxsize)
```

## Exerc√≠cio 1

a) Crie um array de zeros com forma 3x3.

b) Crie um array com n√∫meros de 1 a 20, com passo de 3.

## Opera√ß√µes b√°sicas

Operadores aritm√©ticos s√£o aplicados em cada elemento. Uma nova matriz com o resultado √© criada.

In [ ]:
a = np.array([2, 5, 4, 0])    # Cria um vetor com os vetores passados.
b = np.arange(4)              # Cria um vetor com os valores 0, 1, 2, 3.

print(a, "\n")                # Exibe o vetor a.
print(a+2, "\n")              # Adi√ß√£o elemento a elemento.
print(a+b, "\n")              # Adi√ß√£o elemento a elemento.
print(a-b, "\n")              # Subtra√ß√£o elemento a elemento.
print(b**2, "\n")             # Exibe o vetor com os quadrados dos elementos de b.
print(10 * np.sin(a), "\n")   # Calcula 10 vezes seno dos elementos do vetor a.
print(a < 3, "\n")            # Retorna um vetor booleano com True para cada elemento menor que 35.

O operador produto `*` opera elemento-a-elemento. O produto matricial √© feito com `@` (Python >=3.5) ou com `dot()`:

In [ ]:
A = np.array([[1, 1], [0, 1]])
B = np.array([[2, 0], [3, 4]])

print(A * B, "\n")       # Produto elemento a elemento
print(A @ B, "\n")       # Produto matricial
print(A.dot(B), "\n")    # Produto matricial

Algumas opera√ß√µes como `+=` e `*=` modifica uma matriz existente ao inv√©s de criar uma nova.

In [ ]:
A = np.array([[1, 1], [0, 1]])
B = np.array([[2, 0], [3, 4]])

A *= 3
print(A, "\n")

B += A
print(B, "\n")

Muitas opera√ß√µes s√£o implementadas como m√©todos da classe `ndarray`.

In [ ]:
A = np.array([[1, 1], [0, 1]])
print(A)
print("\n")
print(A.sum())    # Exibe a soma dos elementos.
print(A.min())    # Exibe o menor elemento.
print(A.max())    # Exibe o maior elemento.
print(A.mean())   # Exibe a m√©dia dos elementos.
print(A.std())    # Exibe o desvio padr√£o dos elementos.

Por padr√£o, estas opera√ß√µes tratam a matriz como uma lista de n√∫meros. No entanto, √© poss√≠vel especificar o eixos para aplicar a opera√ß√£o:

In [ ]:
B = np.arange(12).reshape(3, 4)
print( B, "\n" )

print( B.sum(axis= 0), "\n" )      # soma de cada coluna
print( B.min(axis= 1), "\n" )      # m√≠nimo de cada linha
print( B.cumsum(axis= 1), "\n" )   # soma cumulativa em cada linha

## Exerc√≠cio 2

* Crie um array com os valores `[10, 20, 30, 40, 50]`.
* Subtraia `5` de cada elemento e, em seguida, eleve ao quadrado cada valor.

## Fun√ß√µes universais

Fun√ß√µes matem√°ticas como `sin()`, `cos()` e `exp()`, chamadas de *fun√ß√µes universais* (`ufunc`), operam emento-a-elemento.

In [ ]:
B = np.arange(3)               # Cria um vetor com 3 elementos.
print(np.exp(B))               # Exibe o exponencial de cada elemento de B.
print(np.sqrt(B))              # Exibe a raiz quadrada de cada elemento de B.
C = np.array([2., -1., 4.])    # Cria um vetor com 3 elementos.
print(np.add(B, C))            # Exibe a soma entre os vetores B e C.

## Indexa√ß√£o, fatiamento e itera√ß√£o

Vetores unidimensionais podem ser indexados, fatiados e iterados como se fosse uma lista.

In [ ]:
a = np.arange(10)**3        # Gera um vetor dos cubos de 0 a 9.
print(a, "\n")              # Exibe o vetor 'a'.
print(a[2], "\n")           # Exibe o terceiro elemento do vetor 'a'.
print(a[2:5], "\n")         # Exibe os elementos nas posi√ß√µes 2, 3, 4.
a[:6:2] = 1000              # Substitui os elementos nas posi√ß√µes 0, 2, 4 e 6 por 1000.
print(a, "\n")              # Exibe o vetor 'a'.
print(a[::-1], "\n")        # Exibe o vetor 'a' invertido.

# Exibe as ra√≠zes c√∫bicas dos elementos de 'a'.
for i in a:
  resultado = i**(1 / 3)
  print(f"{resultado:.3f}")

Matrizes multidimensionais tem `1` √≠ndice por eixo:

In [ ]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

print( b,"\n")

print("Primeira linha:", b[0, :], "\n")

print("Elemento (2,3):", b[1, 2], "\n")

print(b[:, 1], "\n")      # todas as linhas e 2a coluna

print(b[:2, 1], "\n")     # 1a e 2a linhas e 2a coluna.

print(b[1:, 2], "\n")     # 2a e 3a linhas e 3a coluna.

print(b[1:3, :])          # 2a e 3a linhas e todas as colunas.

Se forem passados menos √≠ndices que o n√∫mero de eixos, todos os demais estar√£o completos:

In [ ]:
b[-1]     # A √∫ltima linha. Equivale a b[-1, :]

## Exerc√≠cio 3

* Crie um array 3x3 com valores de 1 a 9.
* Extraia a segunda linha e o √∫ltimo elemento da primeira linha.

## Empilhamento e Desmembramento

V√°rias matrizes podem ser empilhadas em diferentes eixos:

In [ ]:
a = np.zeros((3,3))
b = np.ones((3,3))

print(a, "\n")                   # Exibe a matriz 'a'.
print(b, "\n")                   # Exibe a matriz 'b'.

print(np.vstack((a, b)), "\n")   # Empilha 'a' e 'b' na vertical.
print(np.hstack((a, b)), "\n")   # Empilha 'a' e 'b' na horizontal.

`hsplit()` permite desmembrar no eixo horizontal:

In [ ]:
a = np.arange(18).reshape(3, 6)
print(a, "\n")

# Desmembra 'a' por colunas em 3 partes iguais
parte1, parte2, parte3 = np.hsplit( a, 3)
print("Parte 1:\n", parte1)
print("Parte 2:\n", parte2)
print("Parte 3:\n", parte3)


# Dividindo ap√≥s a 2¬™ e a 3¬™ colunas
print("\n")
parte1, parte2, parte3 = np.hsplit(a, [1, 4])

print("Parte 1:\n", parte1)
print("Parte 2:\n", parte2)
print("Parte 3:\n", parte3)

`vsplit()` desmembra na vertical e `array_split()` permite escolher o eixo.

## Exerc√≠cio 4

1. Crie dois arrays 1D, `a` e `b`, com valores de 1 a 5 e de 6 a 10, respectivamente.
1. Empilhe `a` e `b` verticalmente para formar um array 2D.
1. Em seguida, empilhe `a` e `b` horizontalmente para formar um array 1x10.

Dica: Use np.vstack() para empilhamento vertical e np.hstack() para empilhamento horizontal.

## C√≥pias e visualiza√ß√µes

Algumas opera√ß√µes copiam a matriz outras n√£o. Atribui√ß√µes n√£o fazem c√≥pias de objetos ou dados.

Veja os exemplos.

In [ ]:
import numpy as np

A = np.zeros((3,3))

B = A          ## atribui√ß√£o n√£o √© c√≥pia

A[:,1] = 100   ## note que ao alterar "A" a matriz "B" tamb√©m ser√° alterada

print("A = ")
print(A)

print("\nB = ")
print(B)

print("\nA e B s√£o o mesmo objeto?")
print(B is A)

print(f"\nid(A): {id(A)}, id(B): {id(B)}") ## A e B possuem o mesmo id

In [ ]:
## No entanto, pode-se gerar uma c√≥pia
import numpy as np

A = np.zeros((3,3))

B = A.copy()    ## atribui√ß√£o n√£o √© c√≥pia

A[:,1] = 100    ## note que ao alterar "A", a matriz "B" ainda ser√° a mesma.

print("A = ")
print(A)

print("\nB = ")
print(B)

print("\nA e B s√£o o mesmo objeto?")
print(B is A)


print(f"\nid(A): {id(A)}, id(B): {id(B)}") ## A e B possuem id's diferentes

O Python passa objetos mut√°veis por refer√™ncia, assim, chamada de fun√ß√£o n√£o faz c√≥pia.

In [ ]:
def f(x):
  return id(x)

a = np.zeros((3,3))

print(id(a))    # ID √© o identificador √∫nico do objeto
print(f(a))     # mesmo ID

Ou seja, se o objeto for alterado dentro da fun√ß√£o, ent√£o ele ser√° alterado tamb√©m fora da fun√ß√£o.

In [ ]:
def f(x):
  x[:, 1] = 100
  return;

A = np.zeros((3,3))
f(A)
print(A)     # "A" foi modificada dentro da fun√ß√£o

Para evitar este poss√≠vel problema, pode-se passar um c√≥pia.

In [ ]:
def f(x):
  x[:, 1] = 100
  return;

A = np.zeros((3,3))

f( A.copy() )  # A c√≥pia de "A" √© passada para a fun√ß√£o

print(A)       # A matriz "A" continua a mesma

Diferentes matrizes podem compartilhar o mesmo dado. O m√©todo `view` cria uma visualiza√ß√£o da matriz.

In [ ]:
import numpy as np

a = np.arange(12).reshape(3, 4)
print(a, "\n")

c = a.view()

print(c is a, "\n")      ## "c" √© uma visualiza√ß√£o de "a"

c = c.reshape((2, 6))    ## N√£o muda a dimens√£o de 'a'
print(a.shape, "\n")

c[0, 4] = 100            ## Muda os dados em 'a'
print(a)

Fatiar uma matriz retorna uma visualiza√ß√£o:

In [ ]:
import numpy as np

a = np.arange(12).reshape(3, 4)

print("a:\n",a,"\n")

s = a[:, 1:3]          # "s" √© uma visualiza√ß√£o de uma parte de "a".
print("s:\n",s,"\n")

print(s is a, "\n")

s[:] = 10              # s[:] √© uma visualiza√ß√£o de 's'.
print("s:\n",s,"\n")

print("a:\n",a,"\n")   # ao alterar "s", o objeto "a" tamb√©m foi alterado.

## Exerc√≠cio 5

1. Crie uma matriz A de tamanho 4x3 de zeros.
1. Fa√ßa `B=A` e `C=A.copy()`.
1. Verifique se `B` e `C` s√£o os mesmos objetos utilizando `is`.
1. Mostre os id's de `A`, `B` e `C`.
1. Altere um elemento de `A` e veja o que acontece com `B` e com `C`.

# Introdu√ß√£o ao Pandas

A biblioteca **Pandas** √© uma das ferramentas mais populares para manipula√ß√£o e an√°lise de dados em Python. Projetada para lidar com grandes volumes de dados de forma eficiente, ela oferece estruturas flex√≠veis, como Series e DataFrames, que permitem armazenar, organizar e manipular dados tabulares com facilidade.

Possui uma ampla gama de funcionalidades, como leitura e escrita de arquivos (CSV, Excel, SQL, entre outros), limpeza e tratamento de dados, e suporte para opera√ß√µes de agrupamento e agrega√ß√£o.

O Pandas √© amplamente utilizado em tarefas que v√£o desde a an√°lise explorat√≥ria de dados at√© a prepara√ß√£o de conjuntos de dados para modelagem e aprendizado de m√°quina.

* O conte√∫do  deste tutorial foi baseado em [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html#min). Esta introdu√ß√£o ao **Pandas** mostra as principais funcionalidades da biblioteca. Para mais detalhes sugere-se consultar o [Cookbook](https://pandas.pydata.org/docs/user_guide/cookbook.html#cookbook).

## Importando a biblioteca

O **Pandas** funciona em conjunto com o **NumPy**. Assim, para utilizar a biblioteca, em geral, se importa:

In [ ]:
import numpy as np
import pandas as pd

## Estrutura de dados no Pandas

A biblioteca Pandas define 2 tipos de estrutura de dados:

- `Series`: um vetor unidimensional nomeado que armazena dados de qualquer tipo tais como inteiros, strings, objetos do Python, etc.

- `DataFrame`: uma estrutura de dados bidimensional que armazena dados como uma planilha, em que cada coluna √© uma s√©rie (Series). √â o equivalente ao `data.frame` na linguagem [R](https://www.r-project.org/).


Uma **s√©rie** pode ser criada passando uma lista de valores:

## Cria√ß√£o de objetos

Uma **s√©rie** no Pandas pode ser criada com o m√©todo `pandas.Series()`.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(type(s))
print(s)

Um **DataFrame** pode ser criado com um √≠ndice no formato de data e os dados passados como uma matriz **NumPy**:

In [ ]:
# Cria um 'Series' com uma sequ√™ncia de datas
datas = pd.date_range("20190101", periods=6)
datas

In [ ]:
# Cria um 'DataFrame' indexado pelas datas acima, com valores aleat√≥rios...
df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list("ABCD"))
df

√â poss√≠vel criar um **DataFrame** passando um dicion√°rio de objetos em que as *chaves* s√£o os nomes das colunas e os *valores* os dados.

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20190102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["teste", "treino", "teste", "treino"]),
        "F": "foo",
    }
)

df2

As colunas do **DataFrame** resultante podem possuir diferentes tipos:

In [ ]:
print(df2)

df2.dtypes

Tamb√©m √© poss√≠vel criar `DataFrame` passando um listas de objetos como colunas:

In [ ]:
import pandas as pd

# Vetores como listas
nomes = ["Ana", "Bruno", "Clara", "Diego"]
idades = [23, 35, 29, 40]
cidades = ["S√£o Paulo", "Rio de Janeiro", "Belo Horizonte", "Curitiba"]

# Criar o DataFrame combinando os vetores por colunas
df = pd.DataFrame({
    "Nome": nomes,
    "Idade": idades,
    "Cidade": cidades
})

print(df)

e tamb√©m podemos criar passando vetores como linhas:

In [ ]:
import pandas as pd

# Dados como vetores (linhas)
linha1 = ["Ana", 23, "S√£o Paulo"]
linha2 = ["Bruno", 35, "Rio de Janeiro"]
linha3 = ["Clara", 29, "Belo Horizonte"]

# Criar o DataFrame
df = pd.DataFrame(
    [linha1, linha2, linha3],            # Passar as linhas
    columns=["Nome", "Idade", "Cidade"]  # Nomear as colunas
)

print(df)

## Exerc√≠cio 1:

Crie um vetor do tipo `Series` com:
* as seguintes datas com indices: "2023-01-01", "2023-03-15", "2023-07-20", "2023-12-25".
  * dica: utilize `pd.to_datetime(["2023-01-01", "2023-03-15", "2023-07-20", "2023-12-25"])`
* os seguintes valores:  100, 200, 300, 400

## Exerc√≠cio 2

Crie um `DataFrame` com 3 colunas chamadas `["N√∫mero", "Quadrado", "Cubo"]`. Preencha com os n√∫meros de 1 a 10 na coluna `N√∫mero`, e nas colunas `Quadrado` e `Cubo`, insira os valores correspondentes ao quadrado e ao cubo de cada n√∫mero.

## Visualizando os dados

Use `DataFrame.head()` e `DataFrame.tail()` para visualizar as linhas iniciais e finais do *data frame*:

In [ ]:
datas = pd.date_range("20190101", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list("ABCD"))
print("df:\n", df)

print("\ndf.head(3):")
df.head(3)

In [ ]:
df.tail(3)

Use `DataFrame.index` e `DataFrame.columns` para exibir, respectivamente, os √≠ndices e as colunas:

In [ ]:
df.index

In [ ]:
df.columns

Retorne uma representa√ß√£o *NumPy* dos dados com `DataFrame.to_numpy()`, descartando os indices e as colunas:

In [ ]:
df.to_numpy()

**Nota**: matrizes *NumPy* possuem um √∫nico `dtype` enquanto os *data frames* do *Pandas* possuem um `dtype` por coluna. Ao chamar `DataFrame.to_numpy()`, o *Pandas* converter√° os tipos de dados para um tipo que comporte todos os tipos de dados.

In [ ]:
df2.dtypes

In [ ]:
df2.to_numpy()

`describe()` mostra uma breve descri√ß√£o estat√≠stica do conjunto de dados:

In [ ]:
df.describe()

Transpondo os dados:

In [ ]:
df.T

`DataFrame.sort_index()` ordena os dados com rela√ß√£o a um determinado eixo:

In [ ]:
df.sort_index(axis=1, ascending=False) # ordena√ß√£o descendente pelo nome das colunas

`DataFrame.sort_values()` ordena os valores:

In [ ]:
df.sort_values(by="B")

## Sele√ß√£o de valores

**Nota:** Enquanto as express√µes para sele√ß√£o e atribui√ß√£o no NumPy/Python padr√£o sejam intuitivos, em c√≥digos de produ√ß√£o, √© recomendado utilizar os m√©todos otimizados do *Pandas* para acessar dados `DataFrame.at()`, `DataFrame.iat()`, `DataFrame.loc()` e `DataFrame.iloc()`.

### GetItem ([])

Para um `DataFrame`, ao receber um nome entre colchetes, a coluna correspondente √© selecionada.

In [ ]:
datas = pd.date_range("20190101", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list("ABCD"))
print("df:\n", df)


df["A"]

Uma forma alternativa de referenciar uma coluna √© usando `.`:

In [ ]:
df.A

Em um `DataFrame`, o operador `:` seleciona as linhas correspondentes:

In [ ]:
df[0:3]

A sele√ß√£o tamb√©m funciona para valores dos √≠ndices:

In [ ]:
df["20190102":"20190104"]
##  neste exemplo,  utilizamos o padr√£o "AAAAMMDD"
##  resultados equivalentes s√£o obtidos para os padr√µes
##  "AAAA-MM-DD","AAAA/MMDD"

### Sele√ß√£o por nome

Vamos utilizar as fun√ß√µes `DataFrame.loc()` e `DataFrame.at()`.

Selecionando uma linha relativa ao nome:

In [ ]:
df.loc[datas[0]]

Selecionandos todas as linhas (`:`) com a sele√ß√£o da coluna por nomes:

In [ ]:
df.loc[:, ["A", "B"]]

Ao selecionar linhas, ambos os limites s√£o inclu√≠dos:

In [ ]:
df.loc["20190102":"20190104", ["A", "B"]]

Ao selecionar uma √∫nica linha e coluna, o resultado √© um escalar:

In [ ]:
df.loc[datas[0], "A"]

Um m√©todo de acesso mais r√°pido √©:

In [ ]:
df.at[datas[0], "A"]

## a fun√ß√£o Dataframe.at s√≥ permite acessar uma celula por vez
## df.at[datas[0:2], "A"] ## Erro!

### Sele√ß√£o por posi√ß√£o

Vamos utilizar as fun√ß√µes `DataFrame.iloc()` e `DataFrame.iat()`.

A sele√ß√£o por posi√ß√£o √© feita passando valores inteiros:

In [ ]:
df.iloc[3]

Sele√ß√£o por inteiros age de forma similar no *NumPy*:

In [ ]:
df.iloc[3:5, 0:2]

## Erro comum: esquecer do .iloc
## df[3:5,0:2] ## gera um erro

Selecionando por listas de inteiros:

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

Selecionando linhas explicitamente:

In [ ]:
df.iloc[1:3, :]

Selecionando colunas explicitamente:

In [ ]:
df.iloc[:, 1:3]

Selecionando os valores explicitamente:

In [ ]:
df.iloc[1, 1]

Para fazer um acesso r√°pido usando o escalar:

In [ ]:
df.iat[1, 1]

## a fun√ß√£o .iat s√≥ permite acessar uma celula por vez.
## df.iat[0:2, 1] ## Erro.

### Sele√ß√£o por valores l√≥gicos

Sele√ß√£o de valores com base em uma coluna:

In [ ]:
df[df["A"] > 0]

Selecionando valores de um `DataFrame` que atendem uma determinada condi√ß√£o l√≥gica:

In [ ]:
df[df > 0]

Usando `isin()` para sele√ß√£o:

In [ ]:
df2 = df.copy()
df2["E"] = ["um", "um", "dois", "tr√™s", "quatro", "tr√™s"]
df2

In [ ]:
print( df2["E"].isin(["dois", "quatro"]) )

df2[df2["E"].isin(["dois", "quatro"])]

## Exerc√≠cio 3

Considere o seguinte `DataFrame`:
```python
df = pd.DataFrame({
    "Nome": ["Ana", "Bruno", "Clara", "Diego"],
    "Idade": [23, 35, 29, 40],
    "Cidade": ["S√£o Paulo", "Rio de Janeiro", "Belo Horizonte", "Curitiba"]
})
```
Ent√£o:

1. Selecione apenas a coluna `Idade`.
1. Selecione as colunas ["Nome", "Cidade"].
1. Filtre apenas as linhas onde a idade seja maior que 30.

## Exerc√≠cio 4

Considere o seguinte `DataFrame`:
```python
df = pd.DataFrame({
    "Popula√ß√£o (milh√µes)": [211, 144, 331, 67, 83],
    "PIB (trilh√µes USD)": [1.84, 1.48, 22.68, 2.83, 4.22],
    "Continente": ["Am√©rica", "Asia", "Am√©rica", "Europa", "Europa"]
    },
    index=["Brasil", "R√∫ssia", "Estados Unidos", "Fran√ßa", "Alemanha"])
```
Ent√£o:

1. Selecione as linhas correspondentes a "Brasil" e "Alemanha".
1. Use `.loc` para selecionar a popula√ß√£o e o PIB dos "Estados Unidos".
1. Use `.iloc` para selecionar os dados dos dois primeiros pa√≠ses.
1. Use `.isin` para todos os pa√≠ses que est√£o na Am√©rica ou na Asia.

## Atualiza√ß√£o de valores

Ao atualizando uma nova coluna os √≠ndices s√£o ajustados automaticamente:

In [ ]:
import numpy as np
import pandas as pd

datas = pd.date_range("20190101", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list("ABCD"))
print("df:\n", df)

## vetor com uma data a frente
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20190102", periods=6))
print("\ns1:\n", s1)

## a primeira posi√ß√£o fica NaN
df["F"] = s1
print("\nNovo df:\n", df)

Atualizando valores por nome:

In [ ]:
df.at[datas[0], "A"] = 0
df

Atualizando valores por posi√ß√£o:

In [ ]:
df.iat[0, 1] = 0
df

Atualiza√ß√£o de valores com uma matriz *NumPy*:

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df))
df

Uma opera√ß√£o `where` como atualiza√ß√£o de valores:

In [ ]:
df2 = df.copy()

print("df2:\n", df2)

print("\ndf2 > 0:\n", df2 > 0)

df2[df2 > 0] = -df2

print("\nnovo df2:\n", df2)

## Dados faltantes (*missing data*)

Para o *NumPy*, `np.nan` representa um dado faltante. Ele √©, por padr√£o, exclu√≠do dos c√°lculos.

Reindexa√ß√£o permite mudar/adicionar/excluir o √≠ndice de um eixo especifico e retorna uma c√≥pia dos dados:

In [ ]:
import numpy as np
import pandas as pd

datas = pd.date_range("20190101", periods=6)

# Cria um 'DataFrame' indexado pelas datas acima, com valores aleat√≥rios...
df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list("ABCD"))

print("df:\n", df)

## seleciona as 4 primeiras linhas e adiciona a coluna E
df1 = df.reindex(index=datas[0:4], columns=list(df.columns) + ["E"])
## preenche as tr√™s primeiras celulas da coluna E com o valor 1.
df1.loc[datas[0:3], "E"] = 1

print("\ndf1:\n", df1)

`DataFrame.dropna()` ignora as linhas que possuem dados faltantes:

In [ ]:
df1.dropna(how="any")

`DataFrame.fillna()` preenche os dados faltantes com o valor fornecido:

In [ ]:
df1.fillna(value=5)

`isna()` retorna uma matriz l√≥gica indicando as posi√ß√µes faltantes:

In [ ]:
pd.isna(df1)

### Opera√ß√µes com dados faltantes

As opera√ß√µes, em geral, excluem os dados faltantes.

Exemplo, calculando a m√©dia para cada coluna:

In [ ]:
import numpy as np
import pandas as pd

datas = pd.date_range("20190101", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list("ABCD"))

df[abs(df)<0.5] = pd.NA

print("df:\n", df)

df.mean() ## m√©dia por colunas

Calculando a m√©dia para cada linha:

In [ ]:
df.mean(axis=1) ## media por linhas

As opera√ß√µes que envolvam outras `Series` ou `DataFrame` com √≠ndices ou colunas diferentes ir√£o alinhar os resultados com a uni√£o dos √≠ndices e nomes de colunas. Al√©m disso, o *Pandas* automaticamente propaga os valores ao longo das dimens√µes especificadas e preenche os pares n√£o alinhados com `np.nan`.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8, 2], index=pd.date_range("20190101", periods=7))
print("s:\n",s)

s = s.shift(2) ## atrasa os dados em 2 indices
print("\nnovo s:\n",s)

O m√©todo `pandas.sub()` subtrai os elementos do *dataframe* com os elementos de outro *dataframe* de acordo com os indices:

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list("ABCD"))

print("df:\n", df)

print("\ns:\n", s)

print("\ndf.sub:\n")
df.sub(s, axis="index") ## a subtra√ß√£o √© feita de acordo com os indices

## Exerc√≠cio 5

Considere o seguinte `DataFrame`:
```python
dados = {
    "Produto": ["Notebook", "Celular", "Tablet", "Fone de Ouvido", "Monitor", "Mouse"],
    "Pre√ßo": [2500, 1500, np.nan, 200, 800, 100],
    "Estoque": [10, 5, 2, 50, np.nan, 150],
    "Categoria": ["Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Acess√≥rios", "Perif√©ricos", "Perif√©ricos"],
    "Avalia√ß√£o": [4.5, np.nan, 3.8, 4.2, 3.9, np.nan]
}

df = pd.DataFrame(dados)
```
Ent√£o:

1. Atualize o pre√ßo do produto "Tablet" para 1800.
1. Reduza em 20% o pre√ßo de todos os produtos da categoria "Eletr√¥nicos".
1. Mostre a planilha excluindo as linhas com valores faltantes.
1. Preencha os valores faltantes na coluna Estoque com 0.

## Aplicar fun√ß√µes em colunas ou linhas de um DataFrame

`DataFrame.agg()` e `DataFrame.transform()` aplicam, respectivamente, uma fun√ß√£o definida pelo usu√°rio para reduzir ou propagar os resultados.

* `DataFrame.agg(func, axis=0)` √© utilizada para aplicar fun√ß√µes por eixos.

* `DataFrame.transform(func, axis=0)` √© utilizada para operar elemento a elemento.

Veja os exemplos:

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, np.nan, 8],
    'C': [10, 20, 30, 40]
})

# Aplicar uma √∫nica fun√ß√£o em todas as colunas
result = df.agg('mean')
print(result)
# A    2.5
# B    6.333333
# C    25.0

# Aplicar m√∫ltiplas fun√ß√µes a todas as colunas

  ## Fun√ß√£o personalizada para calcular a varia√ß√£o percentual
def amplitude(series):
    amp = float( series.max() - series.min() )
    return amp

result = df.agg(['sum', 'min', amplitude])
print("\n", result)
#                     A     B      C
# sum              10.0  19.0  100.0
# min               1.0   5.0   10.0
# amplitude         3.0   3.0   30.0

# Aplicar diferentes fun√ß√µes a diferentes colunas
result = df.agg({'A': 'sum', 'B': 'mean', 'C': 'max'})
print("\n")
print(result)
# A     10.0
# B      6.333333
# C     40.0

A     2.500000
B     6.333333
C    25.000000
dtype: float64

               A     B      C
sum        10.0  19.0  100.0
min         1.0   5.0   10.0
amplitude   3.0   3.0   30.0


A    10.000000
B     6.333333
C    40.000000
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, np.nan, 8],
    'C': [10, 20, 30, 40]
})

print("df:\n", df)

# Exemplo: padronizar os dados subtraindo de cada elemento o m√≠nimo da coluna e
# dividindo pela pela amplitude de cada coluna
result = df.transform( lambda x: (x - x.min())/(x.max() - x.min()) )
print("\nresult:\n", result)
#     A     B     C
# 0   2  10.0   20
# 1   4  12.0   40
# 2   6   NaN   60
# 3   8  16.0   80

# Aplicar fun√ß√µes diferentes a cada coluna
result = df.transform({'A': lambda x: x + 10, 'B': lambda x: x.fillna(0), 'C': np.sqrt})
print("\nresult:\n", result)
#      A    B         C
# 0   11  5.0  3.162278
# 1   12  6.0  4.472136
# 2   13  0.0  5.477226
# 3   14  8.0  6.324555

df:
    A    B   C
0  1  5.0  10
1  2  6.0  20
2  3  NaN  30
3  4  8.0  40

result:
           A         B         C
0  0.000000  0.000000  0.000000
1  0.333333  0.333333  0.333333
2  0.666667       NaN  0.666667
3  1.000000  1.000000  1.000000

result:
     A    B         C
0  11  5.0  3.162278
1  12  6.0  4.472136
2  13  0.0  5.477226
3  14  8.0  6.324555

**Explica√ß√£o**: `lambda` √© uma forma de declarar um **fun√ß√£o an√¥nima**, geralmente utilizada em situa√ß√µes mais simples em que a fun√ß√£o n√£o ser√° reaproveitada no futuro.

* sintaxe:
```python
lambda argumentos: express√£o
```

### Exerc√≠cio 6

Considere o seguinte `DataFrame`:
```python
dados = {
    "Regi√£o": ["Norte", "Norte", "Sul", "Sul", "Leste", "Leste"],
    "Produto": ["Ma√ß√£", "Banana", "Ma√ß√£", "Banana", "Ma√ß√£", "Banana"],
    "Vendas": [120, 200, 150, 300, 250, 180],
    "Lucro": [30, 50, 25, 70, 60, 40],
    "Desconto (%)": [5, 10, 0, 15, 5, 10],
}
df = pd.DataFrame(dados)
```
Ent√£o:

1. Use `DataFrame.agg()` para calcular, para cada coluna num√©rica do DataFrame:
  * A soma;
  * A m√©dia;
  * O valor m√°ximo;

1. Use `DataFrame.transform()` para criar uma nova coluna chamada *Vendas Normalizadas*, que:
  * Subtraia a m√©dia das vendas de cada valor.
  * Divida pelo desvio padr√£o das vendas.
  
  Dica: Aplique a normaliza√ß√£o (f√≥rmula: $z = (x - m√©dia) / std$) diretamente sobre a coluna *Vendas*.

In [ ]:
dados = {
    "Regi√£o": ["Norte", "Norte", "Sul", "Sul", "Leste", "Leste"],
    "Produto": ["Ma√ß√£", "Banana", "Ma√ß√£", "Banana", "Ma√ß√£", "Banana"],
    "Vendas": [120, 200, 150, 300, 250, 180],
    "Lucro": [30, 50, 25, 70, 60, 40],
    "Desconto (%)": [5, 10, 0, 15, 5, 10]
}
df = pd.DataFrame(dados)

In [ ]:
df

  Regi√£o Produto  Vendas  Lucro  Desconto (%)
0  Norte    Ma√ß√£     120     30             5
1  Norte  Banana     200     50            10
2    Sul    Ma√ß√£     150     25             0
3    Sul  Banana     300     70            15
4  Leste    Ma√ß√£     250     60             5
5  Leste  Banana     180     40            10

In [ ]:
df_numeric = df.iloc[:, 2:5]

soma = df_numeric.agg('sum')

media = df_numeric.agg('mean')

maximo = df_numeric.agg('max')

soma

Vendas          1200
Lucro            275
Desconto (%)      45
dtype: int64

In [ ]:
media

Vendas          200.000000
Lucro            45.833333
Desconto (%)      7.500000
dtype: float64

In [ ]:
maximo

Vendas          300
Lucro            70
Desconto (%)     15
dtype: int64

In [ ]:
df['Vendas Normalizadas'] = df['Vendas'].transform(lambda x : (x - x.mean()/ x.std()))

df

  Regi√£o Produto  Vendas  Lucro  Desconto (%)  Vendas Normalizadas
0  Norte    Ma√ß√£     120     30             5           116.971087
1  Norte  Banana     200     50            10           196.971087
2    Sul    Ma√ß√£     150     25             0           146.971087
3    Sul  Banana     300     70            15           296.971087
4  Leste    Ma√ß√£     250     60             5           246.971087
5  Leste  Banana     180     40            10           176.971087

## Contagem de valores

Pandas disponbiliza a fun√ß√£o `count()` que pode ser aplicada para objetos do tipo `Series` e `DataFrame`. Esta fun√ß√£o √© usada para contar o n√∫mero de valores **n√£o nulos**, seja por linha ou coluna.

```python
DataFrame.count(axis=0, level=None, numeric_only=False)
```
1. `axis`:
  * 0 ou 'index' (padr√£o): Conta os valores n√£o nulos por coluna.
  * 1 ou 'columns': Conta os valores n√£o nulos por linha.

1. `level` (opcional):
  * Usado quando o DataFrame possui um √≠ndice hier√°rquico (MultiIndex).
  * Especifica o n√≠vel do √≠ndice para calcular os valores.

3. `numeric_only` (opcional):
  * Se True, considera apenas colunas num√©ricas

 Veja o exemplo:

In [ ]:
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo
df = pd.DataFrame({
    "A": [1, 2, np.nan, 4],
    "B": [np.nan, 2, 3, 4],
    "C": ["foo", "bar", np.nan, "baz"],
    "D": [np.nan, np.nan, np.nan, np.nan],
})

print("DataFrame:")
print(df)

# Contando valores n√£o nulos em cada coluna
print("\nContagem por coluna:")
print(df.count())

DataFrame:
     A    B    C   D
0  1.0  NaN  foo NaN
1  2.0  2.0  bar NaN
2  NaN  3.0  NaN NaN
3  4.0  4.0  baz NaN

Contagem por coluna:
A    3
B    3
C    3
D    0
dtype: int64

O m√©todo `Series.value_counts()` em pandas conta a frequ√™ncia de cada valor √∫nico em uma Series, ou seja, quantas vezes cada valor aparece. √â uma ferramenta muito √∫til para an√°lise de dados categ√≥ricos, pois oferece uma vis√£o r√°pida da distribui√ß√£o de valores.

In [ ]:
import pandas as pd

# Criando uma Series
serie = pd.Series(["ma√ß√£", "banana", "laranja", "ma√ß√£", "banana", "ma√ß√£"])

print("S√©rie original:")
print(serie)

# Contando valores √∫nicos
print("\nContagem de valores:")
print(serie.value_counts())

# Frequ√™ncia relativa
print("\nFrequ√™ncia relativa:")
print(serie.value_counts(normalize=True))

S√©rie original:
0       ma√ß√£
1     banana
2    laranja
3       ma√ß√£
4     banana
5       ma√ß√£
dtype: object

Contagem de valores:
ma√ß√£       3
banana     2
laranja    1
Name: count, dtype: int64

Frequ√™ncia relativa:
ma√ß√£       0.500000
banana     0.333333
laranja    0.166667
Name: proportion, dtype: float64

## M√©todos para *strings*

`Series` possui um conjunto de m√©todos para processar atributos do tipo `str`.

In [ ]:
s = pd.Series(["A", "11B8", "99C", "Aaba", "Baca", np.nan, "CABA", "81dog", "cat"])
print( s.str.lower() )
print("\n")
print( s.str.findall("\d+") )

## no caso de dataframe, ent√£o deve ser aplicado por coluna
df = pd.DataFrame({"A": ["AA99", "asda21", "21asd23"],
                   "B": ["AA99", "asda21", "21asd23"]})

print("\ndf:\n", df)

df_transformed = df.agg(lambda col: col.str.findall("\d+"))
print("\n")
print(df_transformed)

0        a
1     11b8
2      99c
3     aaba
4     baca
5      NaN
6     caba
7    81dog
8      cat
dtype: object


0         []
1    [11, 8]
2       [99]
3         []
4         []
5        NaN
6         []
7       [81]
8         []
dtype: object

df:
          A        B
0     AA99     AA99
1   asda21   asda21
2  21asd23  21asd23


          A         B
0      [99]      [99]
1      [21]      [21]
2  [21, 23]  [21, 23]

## Concatena√ß√£o

A concatena√ß√£o de objetos do *Pandas* √© feito com `concat()`:

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.401283  0.701353  2.172127 -1.320641
1 -0.596238  1.625175 -0.209100 -1.124248
2 -0.355508  1.391943  1.118949 -1.411366
3  0.255154  0.880458 -0.065820  1.069500
4 -0.713264 -1.306711  0.458601  1.012774
5 -1.290048  1.822164 -0.492668 -1.243204
6  0.132505  0.865641  0.015195 -2.273426
7 -0.277400  1.081470  1.695994 -0.065915
8 -0.530427 -0.276842  0.928293  1.407554
9  0.726609  0.454138  0.573898 -0.545603

In [ ]:
# quebra em v√°rios peda√ßos
pieces = [df[:3], df[3:7], df[7:]]

# jun√ß√£o dos peda√ßos
pd.concat(pieces, axis=0)

          0         1         2         3
0 -0.401283  0.701353  2.172127 -1.320641
1 -0.596238  1.625175 -0.209100 -1.124248
2 -0.355508  1.391943  1.118949 -1.411366
3  0.255154  0.880458 -0.065820  1.069500
4 -0.713264 -1.306711  0.458601  1.012774
5 -1.290048  1.822164 -0.492668 -1.243204
6  0.132505  0.865641  0.015195 -2.273426
7 -0.277400  1.081470  1.695994 -0.065915
8 -0.530427 -0.276842  0.928293  1.407554
9  0.726609  0.454138  0.573898 -0.545603

## Exerc√≠cio 7

Considere o seguinte `DataFrame`:
```python
dados = {
    "Cliente": ["Ana", "bruno", "Carlos", "Diana", "Eduarda", np.nan, "f√°bio", "Gabriela"],
    "Produto": ["Notebook", "Smartphone", "Notebook", "Tablet", "Notebook", "Smartphone", np.nan, "Tablet"],
    "Valor": [3000, 2000, 3000, 1500, 3000, 2000, 1500, 1500],
    "Data": ["2023-01-15", "2023-01-16", np.nan, "2023-02-10", "2023-02-10", "2023-01-16", "2023-02-15", "2023-02-16"],
}
df = pd.DataFrame(dados)
```
Ent√£o:

1. Qual √© o n√∫mero de valores n√£o nulos em cada coluna do DataFrame?
  
  Dica: Utilize o m√©todo `count()`.

1. Qual produto foi vendido mais vezes?
  
  Dica: Utilize o m√©todo `value_counts()` para listar a quantidade de prudutos vendidos e `.idxmax()` para mostrar qual o produto mais vendito.
  
1. Passe a primeira letra do nome de cada cliente para mai√∫scula. Dica: Utilize o m√©todo `str.title()`.

1. Inclua o seguinte dados no final do `df`:
```python
df2 = pd.DataFrame({
    "Cliente": ["Jose", "Paula"],
    "Produto": ["Tablet", "Notebook"],
    "Valor": [1500, 4000],
    "Data": ["2023-03-01", "2023-03-02"],
})
```

In [ ]:
dados = {
    "Cliente": ["Ana", "bruno", "Carlos", "Diana", "Eduarda", np.nan, "f√°bio", "Gabriela"],
    "Produto": ["Notebook", "Smartphone", "Notebook", "Tablet", "Notebook", "Smartphone", np.nan, "Tablet"],
    "Valor": [3000, 2000, 3000, 1500, 3000, 2000, 1500, 1500],
    "Data": ["2023-01-15", "2023-01-16", np.nan, "2023-02-10", "2023-02-10", "2023-01-16", "2023-02-15", "2023-02-16"],
}
df = pd.DataFrame(dados)

In [ ]:
df

    Cliente     Produto  Valor        Data
0       Ana    Notebook   3000  2023-01-15
1     bruno  Smartphone   2000  2023-01-16
2    Carlos    Notebook   3000         NaN
3     Diana      Tablet   1500  2023-02-10
4   Eduarda    Notebook   3000  2023-02-10
5       NaN  Smartphone   2000  2023-01-16
6     f√°bio         NaN   1500  2023-02-15
7  Gabriela      Tablet   1500  2023-02-16

In [ ]:
# item 1
df.count(axis = 0)

Cliente    7
Produto    7
Valor      8
Data       7
dtype: int64

In [ ]:
# item 2
df2 = df['Produto'].value_counts().reset_index(name='total')

nm_prod = df2['Produto'].iloc[df2['total'].idxmax()]

nm_prod

'Notebook'

In [ ]:
# item 3
df['Cliente'].str.capitalize()

0         Ana
1       Bruno
2      Carlos
3       Diana
4     Eduarda
5         NaN
6       F√°bio
7    Gabriela
Name: Cliente, dtype: object

In [ ]:
# item 4
df3 = pd.DataFrame({
 "Cliente": ["Jose", "Paula"],
 "Produto": ["Tablet", "Notebook"],
 "Valor": [1500, 4000],
 "Data": ["2023-03-01", "2023-03-02"],
})

In [ ]:
df4 = pd.concat([df,df3], axis=0)

df4.index = range(0,10)

df4

    Cliente     Produto  Valor        Data
0       Ana    Notebook   3000  2023-01-15
1     bruno  Smartphone   2000  2023-01-16
2    Carlos    Notebook   3000         NaN
3     Diana      Tablet   1500  2023-02-10
4   Eduarda    Notebook   3000  2023-02-10
5       NaN  Smartphone   2000  2023-01-16
6     f√°bio         NaN   1500  2023-02-15
7  Gabriela      Tablet   1500  2023-02-16
8      Jose      Tablet   1500  2023-03-01
9     Paula    Notebook   4000  2023-03-02

## Jun√ß√£o de *dataframe*s

A fun√ß√£o `merge()` habilita jun√ß√µes no estilo SQL entre colunas.

In [ ]:
import pandas as pd

# DataFrame √† esquerda
esquerda = pd.DataFrame({"produto": ["ma√ß√£", "pera", "banana", "uva"], "quantidade": [3, 5, 4, 2]})

# DataFrame √† direita
direita = pd.DataFrame({"produto": ["pera", "banana", "ma√ß√£"], "pre√ßo": [4.50, 2.34, 3.25]})

print("esquerda:\n", esquerda)
print("\ndireita:\n", direita)

# 1) Mesclando os DataFrames
## O produto "uva" est√° presente em esquerda, mas n√£o em direita.
## Por padr√£o esse produto √© excluido por n√£o ter correspondencia
resultado = pd.merge(esquerda, direita, on="produto")
print("\nResultado da jun√ß√£o 1:\n", resultado)

# 2) Mesclando os DataFrames (how='left')
## Neste caso, o valor na coluna "pre√ßo" para essa linha √© NaN
resultado = pd.merge(esquerda, direita, on="produto", how='left')
print("\nResultado da jun√ß√£o 2:\n", resultado)

esquerda:
   produto  quantidade
0    ma√ß√£           3
1    pera           5
2  banana           4
3     uva           2

direita:
   produto  pre√ßo
0    pera   4.50
1  banana   2.34
2    ma√ß√£   3.25

Resultado da jun√ß√£o 1:
   produto  quantidade  pre√ßo
0    ma√ß√£           3   3.25
1    pera           5   4.50
2  banana           4   2.34

Resultado da jun√ß√£o 2:
   produto  quantidade  pre√ßo
0    ma√ß√£           3   3.25
1    pera           5   4.50
2  banana           4   2.34
3     uva           2    NaN

Outro exemplo, agora com 2 chaves.

In [ ]:
import pandas as pd

# DataFrame √† esquerda com mais um atributo (fornecedor)
esquerda = pd.DataFrame({
    "produto": ["ma√ß√£", "pera", "banana", "ma√ß√£", "banana"],
    "cor": ["vermelha", "verde", "amarela", "verde", "amarela"],
    "quantidade": [3, 5, 4, 6, 7],
    "fornecedor": ["Fornecedor A", "Fornecedor B", "Fornecedor C", "Fornecedor C", "Fornecedor A"]
})

# DataFrame √† direita
direita = pd.DataFrame({
    "produto": ["ma√ß√£", "pera", "banana"],
    "cor": ["vermelha", "verde", "amarela"],
    "pre√ßo": [3.25, 4.50, 2.34]
})

print("esquerda:\n", esquerda)
print("\ndireita:\n", direita)

# Mesclando os DataFrames com mais de uma chave (produto, cor) e considerando o fornecedor
resultado = pd.merge(esquerda, direita, on=["produto", "cor"], how="left")
print("\nResultado da jun√ß√£o com m√∫ltiplas chaves (produto, cor) e fornecedor:\n", resultado)

esquerda:
   produto       cor  quantidade    fornecedor
0    ma√ß√£  vermelha           3  Fornecedor A
1    pera     verde           5  Fornecedor B
2  banana   amarela           4  Fornecedor C
3    ma√ß√£     verde           6  Fornecedor C
4  banana   amarela           7  Fornecedor A

direita:
   produto       cor  pre√ßo
0    ma√ß√£  vermelha   3.25
1    pera     verde   4.50
2  banana   amarela   2.34

Resultado da jun√ß√£o com m√∫ltiplas chaves (produto, cor) e fornecedor:
   produto       cor  quantidade    fornecedor  pre√ßo
0    ma√ß√£  vermelha           3  Fornecedor A   3.25
1    pera     verde           5  Fornecedor B   4.50
2  banana   amarela           4  Fornecedor C   2.34
3    ma√ß√£     verde           6  Fornecedor C    NaN
4  banana   amarela           7  Fornecedor A   2.34

## Agrupamento

Por ‚Äúagrupamento‚Äù se refere a um processo que envolve um ou mais dos seguintes passos:

- **particionar** os dados em grupos basedos em algum crit√©rio;

- **aplicar** uma fun√ß√£o em cada grupo independentemente;

- **combinar** os resultados em uma estrutura de dados.

In [ ]:
import pandas as pd
import numpy as np

# Criando o DataFrame simulando vendas de banana e ma√ßa por regi√µes
df = pd.DataFrame(
    {
        "Produto": ["Ma√ß√£", "Banana", "Ma√ß√£", "Banana", "Ma√ß√£", "Banana", "Ma√ß√£", "Ma√ß√£"],
        "Regi√£o": ["Norte", "Norte", "Sul", "Sul", "Leste", "Leste", "Norte", "Leste"],
        "Vendas": np.abs(np.random.randn(8)),  # Valores num√©ricos aleat√≥rios representando as vendas
        "Lucro": np.random.randn(8),   # Valores num√©ricos aleat√≥rios representando o lucro
    }
)

print(df)

  Produto Regi√£o    Vendas     Lucro
0    Ma√ß√£  Norte  0.951972  0.672634
1  Banana  Norte  1.040949  1.364840
2    Ma√ß√£    Sul  0.081968  1.596705
3  Banana    Sul  0.140740  1.026509
4    Ma√ß√£  Leste  0.330268  0.384483
5  Banana  Leste  0.525290 -0.184941
6    Ma√ß√£  Norte  2.297551  2.051300
7    Ma√ß√£  Leste  0.222732 -0.136810

Exemplo, agrupando por uma coluna, selecionando outras colunas e aplicando a fun√ß√£o `sum()` aos dados resultantes:

In [ ]:
print("\nAgrupamento por 'Produto' e soma de Vendas e Lucro:")
print(df.groupby("Produto")[["Vendas", "Lucro"]].sum())

Agrupamento por 'Produto' e soma de Vendas e Lucro:
           Vendas     Lucro
Produto
Banana   1.706979  2.206408
Ma√ß√£     3.884492  4.568312

Agrupar por m√∫ltiplas colunas forma um `MultiIndex`.

In [ ]:
# Agrupando por Produto e Regi√£o e somando as colunas 'Vendas' e 'Lucro'
print("\nAgrupamento por 'Produto' e 'Regi√£o' e soma de Vendas e Lucro:")
print(df.groupby(["Produto", "Regi√£o"]).sum())

Agrupamento por 'Produto' e 'Regi√£o' e soma de Vendas e Lucro:
                  Vendas     Lucro
Produto Regi√£o
Banana  Leste   0.525290 -0.184941
        Norte   1.040949  1.364840
        Sul     0.140740  1.026509
Ma√ß√£    Leste   0.553000  0.247673
        Norte   3.249523  2.723934
        Sul     0.081968  1.596705

## Exerc√≠cio 8

1. Para o c√≥digo abaixo use a fun√ß√£o `merge()` para combinar os dois DataFrames com base na coluna `Produto`.

  * Utilize primeiramente `how="inner"` (interse√ß√£o entre os DataFrames).
  * E depois `how="outer"` (uni√£o de todos os dados).  
  

2. Para a ultima jun√ß√£o, fa√ßa um agrupamento pela coluna `Produto` e ent√£o selecione as colunas `Quantidade` e `Pre√ßo` e some elas.

```python
import pandas as pd

# DataFrame de produtos vendidos
vendas = pd.DataFrame({
    "Cliente": ["Ana", "Bruno", "Carlos", "Diana", "Eduarda", "F√°bio", "Gabriela"],
    "Produto": ["Notebook", "Smartphone", "Notebook", "Tablet", "Notebook", "Mouse", "Smartphone"],
    "Data": ["2023-01-15", "2023-01-16", "2023-01-16", "2023-02-10", "2023-02-10", "2023-02-15", "2023-02-16"],
    "Quantidade": [1, 2, 1, 1, 3, 2, 1],
})

# DataFrame com os pre√ßos dos produtos
precos = pd.DataFrame({
    "Produto": ["Notebook", "Smartphone", "Tablet"],
    "Pre√ßo": [3000, 2000, 1500],
})

print("DataFrame de vendas:")
print(vendas)

print("\nDataFrame de pre√ßos:")
print(precos)
```

In [ ]:
import pandas as pd

# DataFrame de produtos vendidos
vendas = pd.DataFrame({
    "Cliente": ["Ana", "Bruno", "Carlos", "Diana", "Eduarda", "F√°bio", "Gabriela"],
    "Produto": ["Notebook", "Smartphone", "Notebook", "Tablet", "Notebook", "Mouse", "Smartphone"],
    "Data": ["2023-01-15", "2023-01-16", "2023-01-16", "2023-02-10", "2023-02-10", "2023-02-15", "2023-02-16"],
    "Quantidade": [1, 2, 1, 1, 3, 2, 1],
})

# DataFrame com os pre√ßos dos produtos
precos = pd.DataFrame({
    "Produto": ["Notebook", "Smartphone", "Tablet"],
    "Pre√ßo": [3000, 2000, 1500],
})

print("DataFrame de vendas:")
print(vendas)

print("\nDataFrame de pre√ßos:")
print(precos)

DataFrame de vendas:
    Cliente     Produto        Data  Quantidade
0       Ana    Notebook  2023-01-15           1
1     Bruno  Smartphone  2023-01-16           2
2    Carlos    Notebook  2023-01-16           1
3     Diana      Tablet  2023-02-10           1
4   Eduarda    Notebook  2023-02-10           3
5     F√°bio       Mouse  2023-02-15           2
6  Gabriela  Smartphone  2023-02-16           1

DataFrame de pre√ßos:
      Produto  Pre√ßo
0    Notebook   3000
1  Smartphone   2000
2      Tablet   1500

In [ ]:
# item 1

df2 = pd.merge(vendas, precos, on='Produto', how= 'inner')

df2

    Cliente     Produto        Data  Quantidade  Pre√ßo
0       Ana    Notebook  2023-01-15           1   3000
1     Bruno  Smartphone  2023-01-16           2   2000
2    Carlos    Notebook  2023-01-16           1   3000
3     Diana      Tablet  2023-02-10           1   1500
4   Eduarda    Notebook  2023-02-10           3   3000
5  Gabriela  Smartphone  2023-02-16           1   2000

In [ ]:
df3 = pd.merge(vendas, precos, on='Produto', how= 'outer')

df3

    Cliente     Produto        Data  Quantidade   Pre√ßo
0     F√°bio       Mouse  2023-02-15           2     NaN
1       Ana    Notebook  2023-01-15           1  3000.0
2    Carlos    Notebook  2023-01-16           1  3000.0
3   Eduarda    Notebook  2023-02-10           3  3000.0
4     Bruno  Smartphone  2023-01-16           2  2000.0
5  Gabriela  Smartphone  2023-02-16           1  2000.0
6     Diana      Tablet  2023-02-10           1  1500.0

In [ ]:
df2.groupby('Produto')[['Quantidade', 'Pre√ßo']].sum()

            Quantidade  Pre√ßo
Produto
Notebook             5   9000
Smartphone           3   4000
Tablet               1   1500